---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>
<section id="about">
  <div class="row">
    <div class="col-sm-12 breadcrumbs">
      <ul class="custom-breadcrumb">
          <li class="first-crumb red-crumb"><a href="/"><i class="fas fa-home"></i></a></li>
          <li class="deep-crumb separator animated-crumb">/</li>
          <li class="deep-crumb yellow-crumb animated-crumb"><a href="/blog">Blog</a></li>
      </ul>
    </div>
  </div>

  <div class="row blog-base">
  <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
  <article class="col-sm-12 col-md-6 post-base">
    <header>
      <img class="post-image" draggable="false" src="<%= article.data.thumbnail_image %>">

      <div class="row">
        <div class="col-sm-6 col-md-8">
          <h2 class="post-title dynamic-href"><%= link_to article.title, article %></h2>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="post-date">
            <%= article.date.strftime('%b %e, %Y') %>
          </div>
        </div>
      </div>


      <span class="post-tags">
          <% article.tags.each_with_index do |tag, index| %>
            <% if index < article.tags.size - 1 %>
            <span class="post-tags__each dynamic-href"><%= link_to tag, tag_path(tag) %> </span><span class="post-tags__each-pipe">|</span>
            <% else %>
            <span class="post-tags__each dynamic-href"><%= link_to tag, tag_path(tag) %> </span>
            <% end %>
          <% end %>
        </span>
    </header>

    <div class="post-body"><%= article.summary(250, '...') %></div>

    <footer>
      <%= link_to '<div class="btn btn-primary btn-blog btn-bl">Read this post</div>', article %>
    </footer>
  </article>
  <% end %>
  </div>
</section>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
