---
pageable: true
per_page: 10
---

<div id="page-top">
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-column section-scroll" id="about" data-nav-color="red">
      <div class="my-auto">
        <div class="container">
          <div class="row align-items-center home-page">
            <div class="col-md-4">
              <div class="row title-home">
                <img class="imglogo" src="images/android-chrome-192x192.png" alt="logo">
                <h1 class="titleR">Ruby<span class="text-primary">Kube</span></h1>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row icons-home">
              <p class="iconmargin">
                 <a class="github" href="https://github.com/rubykube" target="blank">
                  <i class="fab fa-github fa-lg i-head"></i><span class="tooltip">GitHub</span>
                 </a>

                 <a class="telegram" href="https://t.me/peatio" target="blank">
                  <i class="fab fa-telegram fa-lg i-head"></i><span class="tooltip">Telegram</span>
                </a>

                <a class="reddit" href="https://reddit.com/r/rubykube/" target="blank">
                  <i class="fab fa-reddit fa-lg i-head"></i><span class="tooltip">Reddit</span>
                </a>

                <a class="youtube" href="https://www.youtube.com/channel/UCGrRNy-EpI67ivdAL5z4JIg/featured" target="blank">
                  <i class="fab fa-youtube fa-lg i-head"></i><span class="tooltip">YouTube</span>
                </a>
              </p>
              </div> 
            </div>
          </div>

          <div class="row justify-content-center home-page-title">
            <h1 class="mt-5 conten-size-home-main content-home-page">Welcome to RubyKube</h1>
            <h2 class="mt-2 conten-size-home-subtitle content-home-page" id="about">
            <%= data.i18n.en.sections.about.subtitle1 %>
            </h2>
          </div>

          <div class="clearfix">
            <div class="box">
              <p>
                <%= data.i18n.en.sections.about.body.part1 %>
              </p>    
              <p>
                <%= data.i18n.en.sections.about.body.part2 %>
              </p>    
              <p>
                <%= data.i18n.en.sections.about.body.part3 %>
              </p>    
              <p>
                <%= data.i18n.en.sections.about.body.part4 %>
              </p>
            </div>
          
            <div class="box">
              <img class="logoandtext" src="images/logo.svg" width="300px">
            </div>
          </div>

          <div class="follow-btn-about">
            <a href="#developer" class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-1 btn btn-primary mr-3 js-scrollTo">Join us!</a>
            <a href="#enterprise" class="col-sm-4 col-md-3 col-lg-3 col-xl-2 btn btn-primary mr-3 js-scrollTo">Enterprise solutions</a>
          </div>

          <div class="row"> 
            <div class="col-md-12 col-lg-12" id="developer">
              <hr style="width:40%; background-color:#ccc !important; height:0.1px;"/>
            </div>
          </div>

          <div class="row justify-content-center home-page-title">
            <h1 class="mt-5 conten-size-home-main content-home-page">Are you a developer?</h1>
            <h2 class="mt-2 conten-size-home-subtitle content-home-page">
            <%= data.i18n.en.sections.about.subtitle %>
            </h2>
          </div>

          <div class="row imgLogos mt-5">
            <div class="col-2">
              <a href="https://www.ruby-lang.org/en/" target="blank">
              <img src="/images/TechIcon/Ruby_logo.svg" alt="Developed using Ruby" width="50%">
              </a>
            </div>
            <div class="col-2">
              <a href="https://rubyonrails.org/" target="blank">
              <img src="/images/TechIcon/Rail.svg" alt="Developed using Ruby on Rails" width="50%">
              </a>
            </div>
            <div class="col-2">
              <a href="https://www.docker.com/" target="blank">
              <img src="/images/TechIcon/docker-official.svg" alt="Developed using Docker" width="70%"">
              </a>
            </div>
            <div class="col-2">
              <a href ="https://kubernetes.io/" target="blank">
              <img src="/images/TechIcon/Kubernetes.svg" alt="Developed using Kubernetes" width="100%">
              </a>
            </div>
            <div class="col-2">
              <a href ="https://www.mysql.com/" target="blank">
              <img src="/images/TechIcon/mysql-official.svg" alt="Developed using MySQL" width="100%">
              </a>
            </div>
            <div class="col-2">
              <a href ="https://redis.io/" target="blank">
              <img src="/images/TechIcon/redis-official.svg" alt="Developed using Redis" width="100%">
              </a>
            </div>

          </div>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body1 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body2 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body3 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body4 %>
          </p>

          <div class="follow-btn-about mt-4 row">
            <a href="https://github.com/rubykube" target="_blank" class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-2 btn btn-primary mr-3">
              <i class="icon icon-github-circled"></i>RubyKube Github
            </a>

            <a href="https://github.com/rubykube/peatio/tree/master/docs" class="col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-2  btn btn-primary mr-3" target="_blank">Documentation</a>
            <a href="https://discuss.rubykube.io/" class="col-sm-4 col-md-3 col-lg-3 col-xl-2 btn btn-primary mr-3 mb-2 " target="_blank">Discussion</a>
          </div>
        
          <div class="row"> 
            <div class="col-md-12 col-lg-12" id="enterprise">
              <hr style="width:80%; background-color:#ccc !important; height:0.1px;"/>
            </div>
          </div>

          <div class="row justify-content-center home-page-title">
              <h1 class="mt-5 conten-size-home-main content-home-page">Looking for an enterprise solution?</h1>
              <h2 class="mt-2 conten-size-home-subtitle content-home-page">
              <%= data.i18n.en.sections.about.subtitle3 %>
              </h2>
          </div>

          <div class="clearfix">
            <div class="box">
              <img class="logoandtext" src="/images/chart.png" width="100%">
            </div>
            <div class="box">
                  <p>
                    <%= data.i18n.en.sections.about.body5 %>
                  </p>    
                  <p>
                    <%= data.i18n.en.sections.about.body6 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body7 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body8 %>
                  </p>  
            </div>
          </div>
          
          <div class="follow-btn-about">
            <a href="mailto:hello@peatio.tech" class="btn btn-primary mr-3">Get a quotation</a>
            <a href="#team" class="btn btn-primary mr-3 js-scrollTo">Meet the team</a>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex d-column section-scroll" id="components" data-nav-color="yellow">
      <div class="my-auto">
          <div class="row justify-content-center">
            <h2 class="mb-5" id="projects">
              <%= data.i18n.en.sections.components.title %>
            </h2>
          </div>
          <ul class="list">
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/peatio" target="_blank">
                        <img src="/images/test-img/blackpeatio.png" alt="peatio" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.peatio.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.peatio.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.peatio.summary %>
                    </p>                    
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/peatio" target="_blank" class="btn btn-primary btn-yellow">
                      <i class="icon icon-github-circled"></i>Peatio Github
                    </a>
                  </div>                              
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/barong" target="_blank">
                        <img src="/images/test-img/blackbarong.png" alt="barong" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.barong.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.barong.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.barong.summary %>
                    </p>
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/barong" target="_blank" class="btn btn-primary btn-yellow">
                    <i class="icon icon-github-circled"></i>Barong Github
                    </a>
                  </div>              
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/workbench" target="_blank">
                      <img src="/images/test-img/blackworkbench.png" alt="workbench" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.workbench.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.workbench.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.workbench.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/workbench" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Workbench Github
                  </a>
                </div> 
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/kite" target="_blank">
                      <img src="images/test-img/blackkite.png" alt="kite" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.kite.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.kite.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.kite.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/kite" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Kite Github
                  </a>
                </div> 
              </div>
            </li>
        </ul>          
      </div>
    </section>      

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="features" data-nav-color="green">
      <div class="my-auto">
        <div class="row justify-content-center">
          <h2 class="mb-5" id="feature"><%= data.i18n.en.sections.features.title %></h2>
        </div>

        <div class="row ml-1">

          <div class="col-md-6">

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.left.each do |item| %>
                <li>
                  <i class="fa-li fa fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>
          
          <div class="col-md-6">

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.right.each do |item| %>
                <li>
                  <i class="fa-li fa fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

        <div class="container-fluid  text-center ">
            <h3 class="mb-4 mt-3">
              <%= data.i18n.en.sections.features.subtitle %>
            </h3>

            <div id="carouselSlide" class="carousel slide" data-ride="carousel" data-interval="9000">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                
                    <div class="carousel-item col-md-3  active imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <img class="img-fluid mx-auto d-block" src="images/Icons/BCH.svg" width=50>
                            <h4 mt-1>BCH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/BNB.svg" width=50>
                              <h4 mt-1>BNB</h4>
                            </a>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/BTC.svg" width=50>
                              <h4 mt-1>BTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                        <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/DASH.svg" width=50>
                              <h4 mt-1>DASH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/ETH.svg" width=50>
                              <h4 mt-1>ETH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/LTC.svg" width=50>
                              <h4 mt-1>LTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/MKR.svg" width=50>
                              <h4 mt-1>MKR</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/OMG.svg" width=50>
                              <h4 mt-1>OMG</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/TRX.svg" width=50>
                              <h4 mt-1>TRX</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/VEN.svg" width=50>
                              <h4 mt-1>VEN</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/XRP.svg" width=50>
                              <h4 mt-1>XRP</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/ZRX.svg" width=50>
                              <h4 mt-1>ZRX</h4>
                          </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="blog" data-nav-color="red">
      <div class="my-auto">
        <div class="row justify-content-center">   
          <h2 class="mb-5" id="blog">
            <%= data.i18n.en.sections.blog.title %>
          </h2>
        </div>
        <div class="row">
          <article class="col-sm-12 col-md-6">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if i == 0 %>
                  <header>
                    <img class="post-image" src="<%= article.data.thumbnail_image %>">
                    <h2 class="main-post-title">
                      <span id="title-post"><%= link_to article.title, article %></span>
                    </h2>
                    <span class="main-post-category">
                      <%= article.data.category %> |
                    </span>
                    <span class="main-post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                <div class="post-body"><%= article.summary(300, '...') %></div>
              <% end %>
            <% end %>
          </article>
          <article class="col-sm-12 col-md-5">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if (i > 0) && (i < 3) %>
                <div class="main-blog-post">
                  <header>
                    <h2 class="post-title">
                      <span id="title-post"><%= link_to article.title, article %></span>
                    </h2>
                    <span class="main-post-category">
                      <%= article.data.category %> |
                    </span>
                    <span class="post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                  <div class="post-body"><%= article.summary(140, '...') %></div>
                </div>
              <% end %>
              <% if (i == 3) %>
                  <div class="main-blog-post__last">
                    <header>
                      <h2 class="post-title"><%= link_to article.title, article %></h2>
                      <span class="main-post-category">
                        <%= article.data.category %> |
                      </span>
                      <span class="post-date">
                        <%= article.date.strftime('%b %e, %Y') %>
                      </span>
                    </header>
                    <div class="post-body"><%= article.summary(140, '...') %></div>
                  </div>
              <% end %>
            <% end %>
          </article>
        </div>
        

        <div class="row">
          <div class="col-sm-12 btn-blog-block">
            <a href="/blog" class="btn btn-primary btn-main-blog btn-blue">MORE POSTS</a>
          </div>
        </div>
      </div>
    </section>


    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="technology" data-nav-color="blue">
      <div class="my-auto">
        <div class="row justify-content-center">        
          <h2 class="mb-5" id="team-item">
            <%= data.i18n.en.sections.technology.title %>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="subheading mb-3">
              <%= data.i18n.en.sections.technology.subheading %>
            </div>

            <ul class="fa-ul mb-3" id="team-item">
              <% data.i18n.en.sections.technology.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>
          
          <div class="col-md-6">
            <div class="subheading mb-3" id="team-item">
              <%= data.i18n.en.sections.technology.workflow.title %>
            </div>

            <ul class="fa-ul mb-3" id="team-item">
              <% data.i18n.en.sections.technology.workflow.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="team" data-nav-color="red">
      <div class="my-auto">
        <div class="row justify-content-center">
          <h2 class="mb-5" id="team-item">
            <%= data.i18n.en.sections.team.title %>
          </h2>
        </div>

          <h1 class="my-4 text-center text-lg-left">Our Dreamteam</h1>

          <div class="row text-center text-lg-left">

            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/FhQfBgs4xuMlvGe2272Xm21m5svtMRpn441VNPRPE0xaosvey0Tcyk-vr0rEG4KrBior4BYe7dhH6iS0RpFYxUysvAUvmlZspfFwymX18VfryDWGWFPeBwAdP0SzqBsv68dX9CbsOzf773Oar6SpRduKl17dmzWtojRZPrpyL-J8APsEjpUEEJvmPWStNSlJnEHUV0rUpc-Yy66F3omdMKDzz_d1P_OkxehxrF1mBYjYODE3lO5U8DivQMu_crluFbGYNWb2cCKFkt3_AdLj_1nwJbecF-wUP-uQ-HUbwqDHS8CcpBLaITP099sH25BFNRh6dYhMYXcCFNe8o_n3QgxpX9Je3IT7kVwtlP2x6LUH_pJz1QR0cH6MfghxuhOHNq1jfZnWZmHfIJkB9j0dlnbcLmWhnb-xgS2nu5Fz1CFVLI1Z8fGRHaR5h4T7Zocv2OhlBr2XIwTFdFK3cMSDwR98BG_2xE0cb2m-LK8P9hVTQ2OWv0pQAAnjhd9Ze3oScGXiZd5ZD6E_R0T8WOhB8DQkvxCXnKkBxvBUemq3KwNXdhWsXIPjGfH_OlPtdrol2Fv1OV6YGOj97cWwgDh9qiLLgWzlJ0rTJdKpBBK4YMJ-RLug9-8Avl6_UsIP4Tcff4d5T8uNb0by823lVSjdlqNKKSeQAmok5IOyeSt8Nfi6uOfFaZLBY5A=s900-no" alt="">
                <div class="container text-center">
                  <h5>Louis Bellet</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/a0mbyMmsZKA0fM8T5nv2bfsI55D46bB2c-L465WYWVpsWnf85bzTQrTJJmsX2nRYWue9QgaMfa157hgzV-FThoTNUFMFr8ZBQlsq1UC7Gj9OIyJmYhGJFeVK-2Td7GAY6JOXdHtBnMUyfSTZ2C4VFuNUD2UImlKEGOxVfBNuRcuuxwPw4396PP4NK1shAOAR45jvSfklT_PLWZ4ZyovMVC0TDjFXpFXy72DtlAsq6zzfwoP79NaDhB13FoK0qLYWmWqWbBDcFTF2eF5kPBubOMsyQNyLoMIvYck5wiRyBtiNG4GoENXJvGQIzFePjYJuq1LivEWLhFhxSFS6wv7MqB4nqZCoN55BexZwqfSXIhxoA8ckCE09nIKW1BEeFTIobDsyguXN5bkInFjBCllZO_Ncq0SIN3T-gR3FZUYA843T3Cl18phiImSuFbCBwt7r5I1zZ_Cq5OaO-E52R6B5-17ENq-rYUi7MJYRllDgS9V_pJLkTtuort7m2JpBcx5DpeNAt8b-lfxbaxJ9ezw_aI7fLiGpXCpW5Dl4736fpu9HwytIUR6PAi1mdCW-rFdo8PyruDvn93z27fpXRSC-LIfgkcPUCM98x6WEaS0CTP8ahyWRyjsOnizuR3-c_91VFsG5jly-UP4zqbOVAPQQj41KW1xUnwDXGr2quMQk_GjMLXRqAj-MKhc=s900-no" alt="">
                <div class="container text-center">
                  <h5>Valentine Shatravenko</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/MusSv1UMST_CgBFPG9cbjaxpmVYmyQp35tPpGv8KjnPh6Oo_jZ0xT1SQSWjQdUmlG5SrGyE4nSBQSFjN1JUnr_cI_nNIC8HspT23wz8WUxXoakd0Zq4RNChK0oNIk3RBZRxKqccv-yn1takdlfzmY9CQdrbERnTBdHG8AMIjaIB6JOhupB9otkOk_3oVrbRnahMNNnAmY8B6WEoBngfdpzzKnrFS-k-Z5p_jT6fPLF_wDWLUKdNhCgBL1Br-_1muP2iBd17yy6ZYg0CQ_zBjrZKRiEAhL0pPwSJjpUM9xZ_SHKd8LEgH9nWHALGhdc-8eLku4M3BC_dgFe2ffd-MVBx-GzJ1yFcR3VXKT1RVVEQz2hSijlu_Ymhaylm96eQp7ENPZs-VZBVqQ9OsvPkNJuNNqz30_cT1uSpj01WlrLv2W_vI-MBqsle9WhfWH9Wkb7Etu4kZ2FqDaJolTwq2twYvwkc73LIpHc--QcqfgcaOjObdfa_kCW_Ya8pIMP_ob0yECcJYkc8DfiCdUuMWl-TRy9r2RtE1u7KbPqXOTX9j_u_lbVjgASBeNULcRRmBBsSgF22eXGRh4xo6ja2SxcR73c8tpB4H7lTSSW9fmAcQHgnYkufi6F2HS4WvPOJJ3oxcqzwhflLd7grNkB2sw6aYAVcLxP2osssjEkFP_BBZ3SATwufsN1I=s900-no" alt="">
                <div class="container text-center">
                  <h5>Dima Koval</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/zxYejFYj7agjmP8sR--GjP2rWi6T9t2WGRmYVRtpbFpW2_styEiQhCimO_8fuVff_r_m0NaBtOldgGbTlSirmgMJ1sh1N3VTBham-u4cqoVxQA_G0VQX_hiyCUbdud0dmW6VqfPMUE2nV0U4Bf25fxQrjxnxMITvjDyynEdeoXBWkHmdIGDQL0fenuNj7A8VE6v0f5z1XHtU3vYmg3uc62kwpZ__IgSdVUGCIy-R4M38iwZ6cLZZVPm2hv-ZebNjxEk5jUl8zDbv0BXYWElxoTfJdb9UyaYwCHGC3KbpWiw1czeUuiUZCfoxtRogsTkR7SSjyTowbpaQzOEfQOKL_xHTWq3r8s_VouZ46k7YyABaB6KfkqdcpB53QxL3Ww9aMl0Dr0KtYDoIHGCRMVI10QVUZnnG1M94Sp1g0rPzcwg9WvCVx4DG59N8OdxF1_y0R2mG9PJgUqwvZGJApYM4V8uA1L1aMzlxdWeOUKHU-VJiC2_bsBOPALQMJACZGi8V2Svoy8japOMnjKWFT6EaixQL_ijKHcnRQlSaEyd7DyCjNF1BO2mKu5xjq41tAs2fgkLfl31LzOTgl2_fCd2x5rQLKw18_Af5TbfmWbX9l6aiji3f8xUz2G0ddvHG_OGLjcLN4x_Cq4KtaMDIk_MGag87jRVdqXVi3jPJapV73pMiocUHLUVhDFg=s900-no" alt="">
                <div class="container text-center">
                  <h5>Bogdan Potemskyi</h5>
                </div>
            </div>
              <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid  mt-3 mb-3" src="https://lh3.googleusercontent.com/tYsNnnrLEOBwVGZNSoKxr5eOxW6ZC_ZPTS1TCng8sD4RNuGnMAeRa0G257l4sXV3laXRNR0k4dpTYGSPOpCRnTr0-2_lxXkvUNdNmlZ_YNL4LKG4vJBSazdfZZ93s1xesT2rIPYmO7wvbW90p1hfhXdvq_g5ZxnKVadaqC5yZUFjza7pVEi_M5X3H-RjUWdw0KxoLo8OncN1ySTZnpV72OpICjfR0FL7jTB2grA12gk7wH1Pu4M-qBnwCET_V3AyLC33OYyQB9jNlnTanyrXGQ-Y7AlA4JDrZwYgdXvYK4S9K6HBpXVdAfEi6OwigKwUWyaBfMb_EMngA8BpddBAGqw5ezQMr5L0_Oo4JtRNHSXkyqPyOU5WvhCIrfr161fBOIN4XtSe-UxPCtCYWgBLr40jg0fHUfWHwcBZB-yI2jK22geWgntUj7VVJwcwZgQDyHEdkNY5QTXScLBOVYGKSfhfdjmP4r4Ya-NbV0zsDDfl_5nwEu8Zd6IyXQeJIsMsy58t-Z9l1socRW_P38TvMHTXOzfAvW7l2jfXjgaYxNrYYN0CpHQIvpcoIo7dlTlo8RVlwW3huMNf9SmBcHRk6Teyem3v_hUQR-6zXK1ZU7IRpAGvoloclK4854o1Y3XruUsQXNKr0258JAzA8pCxeY9xya5epRWpm0EbAIGq5qxmJT4KWQdZqsk=s900-no" alt="">
                <div class="container text-center">
                  <h5>Daniel Hawkins</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid  mt-3 mb-3" src="https://lh3.googleusercontent.com/DLRBSEPF13k8z52kLhcE7kJbWFQ_mAW3sIc5gaX-LnMR9gby1_vTE38sDkDnpe1nTNfiyab2zR8L6kGAGPsDB8JN1yfOfI74oL_8JsLr2Vg6WTLjQIX5O9pRYw0QvdMV-TWE2tsm1LnyithxpbY2eR9-T5jzuF551ySp9zH5dj7-em5guDaHsOFI8O1bHKNxa4qr4KeJYFEnj8MgKDP5KxKJmihGks4bsTD8pZR8cl6AdvvPtogVhQd0QNf7Wf_vnn7W6AbH1uhgkKChhHgM32mJ2DsFAZCwLNArvhnndLQ583FpthrqdIS0vKjnEPNsb_YrzPLQraaLtt_WnTxwnMybhqInM4pqwzJTvxtQQK1lLFgwTBisDXfZ55yiqQapr7Qsln91eCYPixTd4qMkyPojau1TX-dygYQfRH5jCzExjvGePRa9p4Vl83gGJAarhrawh9AJbT5ecfuMUUnlLuHNW7A0kuZD-nks0ltMRkF4UTb4HXrkyp71LKWqbXjbf8iWtSIo5PCM8quoQ62DezHXXkThtLQyMUDz89s4dvs0ODfVqGvNhX4iR9So5u3PokEDUgF_zYSOVhQ-2kC-VAKIt-b0wBqzqkVz8UTKRjjozKDcyiqFrZxEqiWKcC62dcqXSpxvPLDtNxIXIX7kOd6KKtjt1JQVENcAodCVE7rOnJ1ifNaRMAI=s900-no" alt="">
                <div class="container text-center">
                  <h5>Maryna Kalenska</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/VXrTZYAQ38lgqf2soF2nQh22iytGoQgMutADfHQMmU2YlWlrYLrmvUoWjExi_veT2Kmc6SZAdA6VrCDtYVh3CM74IMLzbYSJMCloQiUCQRmArfx0DD89FAbu5itb2bqEmOf_pgcaOrqLM1UI6bYAMBPoo4-N8s3lDHwkd6SfZXJ69dO40X2_1ghxc5EeUoRbpzUK2MUelZZBaYZGG1y_EjGenwABQDb1lhkEQPdOu7eMZWq8Z8avzXrpaNysNo8Xv-PgEuUZjQldJo91U7uuWFBjcdHtkWTJ2k8SR1x7CnxLOYcL11ugvlzg-jXI3sTREHPz1qdaYAftza8aBTlYymGslEXrN3yNGT5cvs7F0r5mD1CqJ7NB6ZJ5YMG6fesh3nohATpE5_z4-BiPsclk-u7XCnMqTqf8wyQwhcOKOVge7h8mPAqhLDuSThBI6wpfupEf9H1Bi9IvdqlmntLDiBIs08beditqyGn_tZqAT2dP2KWp-Nx9LhN6JcVmdx7X9MjWPjCBv1voXYY6pOXMuDmgNfIDOLlxJixZYiimUllUiy8c2CoNZzDHWYPk-VjM4cyYS1NP0bh7tU6YgeGy5K_H2KFw004uGhA8piUlW6E-H2HmHlIvmtm3kiTSxf0KVyNOQ7rVzMcMUa-6JfH9TabLg1sA3EvIWXKc_ZCrU6I2pOTw8uxf-OI=s900-no" alt="">
                <div class="container text-center">
                  <h5>Alex Khlopiachyi</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/OdKHf5m46YOPbGBoZUvpuWeCseJxOy4CZbXNOhZZEBB-V3B7QsBzQ2lumZQW3f-mZc3Hf1c7P92RKjpeo_4h9oulNcOjWznvBq8efV0rBieq0Bt-BAHqEPUdJy89wKLB-THyZf4GwhRcWVvxATCsDQ-fF32VtYqu3PB1xwlVsp53Yu3HhM94zTt9tT-jiFEd8Hw6G2vewiJFqVFMbISbLQi8HU8LiQosFOBr9J1z0MWvJQwiRQLGMjKDo633w78LWpSygB0xZs2GNiKnz1UWk6f2VWzZYxyPZ53VF9WHdQY0hGjdWDw7vl8EfwZJCapwCb6GDjTwFFpYeflpdL1bH8uO7Jg2jFIkVcrBR0zNDlz5bg6BXWm9MBpXcNUA4vmCBd7AwWgJ_j4QrXT0pW2on7_iBWftgXY31FSEL_4LO1GHly4s-i2u7oTspcztio6ScOMNtaWSAcCxW9xqAO-3Jjw-wmTcBXFN_Wn9zI1rZ97KSg9P-crjJhxquJ5Y_5Q0sbJ6vAR2OIiIylfGaYMJ0eVMCL5f9FPlOA4CwYXKXAW3AtBuhdPYzNkqEn6tNykpPK-APlzXzGe0dMm99kJ02JTQK0WM0G7WLSPLgZEiIUN1kJfAQyVdvG0emJoiYNn4EMZBr9vSPB7qJ2C3Q5gYnDbqRbbgZxYOsJXTTkNL07797Yaz55y723k=s900-no" alt="">
                <div class="container text-center">
                  <h5>Yaroslav Bondur</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
              <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/675c_dEzj2sgFkCtlL9vhDYgmgKXLesq96CRSgpfh4jwYW2TxQXQEkIYe4jHlvgLHAy3I9WKJHpZpqXKGSugKhwcedRjOUfjWmaDiJ4cJP30kprNIB4xDx1xsAXWTLDdUXOkSu9zGgLO-Ow-HITizFXCW4pEz3tLcm8edFnD9g-e4EP8ainxrmtKEVrHwehfwxvokcArwae3tKtTQ5TeOMQMgPSK6ptNEHbrcMZWre3wEWWT7XBNev8zIAGooEiaA07xq0h8lt5ns9EfR18R_NYKxJTaXqNgTwh7wfzP-Jx3un2RCb37FQ801yoEHzzQy8Kifx5YHjA8RoLmmxPPzN-UuS-ikD-Qf2MP4Cg0QUVIrH2thmcRBlc_5OLPGP4A3Rt1wMF74QvXCsj3tW-zhhITftko0Bj4fozPv4XOUwxOy-Hp1fOh8zrMztur7sNBk2PhioUBZ-CTSK8kdos2Ek-9BpzGgNi9MtFT7sScPTG7fdxjo0mYLgC9C59FZ3gd4fiw0ReLy84JZLs_yzL364h9RC2WiMlC6gspTHTmIJl_vbpBIX0yMzemJvgwqk5XunL-HmPKQUNtGq01jvCKLJR4F9BKVqnA9I-Sp0go_mRWV6LuEZDJEUMGVP1bNThgoczlpjtvaBqnUgYPAChluaf5Q_myvtFtY5l7K1tHMm1IgJVDIepRRZA=s900-no" alt="">
              <div class="container text-center">
                <h5>Maksim Smetana</h5>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/URtp9oenI1dOm6qhaBuArl08B04NRjRSsLADBx8cMik9-F7OhsuYi7EwhcqJRTrAjUH9RvRI3ih94x6wl0XW4JMwhAB1v6DsFPBUOGoucKWbnNWGmtf27vuAXfsE2te_XgipHjZeVvlbX6Q68ujnnKXV1zDW-O2deWrD23E1HlXpP9ROYPqBvWmdfux8JvGiT_IAfPh4WyEKZ97OKh3MmXZ4eN55FeZiOA8XMwXqEocwCe79VcTVG7ErnNEcAy3nUyyLedviERHe5krZEIoBMsQv-wUvIUFTDHFSVyvJ6MUu7xC_xBcUDu8sTwk5HQZWnOA0SM65yWiSzCqEbnZy98Ndj7NC3qtgcu02ZHjzNj0BXP0LFQ4BvOBfc6Qcq_l-1Y-zDhHPT38A4-2p6oplTd9HVdUkoURXNfAnZUgR1_1L-X7Dy_V7MqfYvCMg66ok4sVuBQs7DlsAIS2jsjeX77Iz8I4upRxvFBRsspsPwtD3UhLBhYfgu5mqczZeb04mVf7QaHV8KZv2hZTzNquGooIdkARTR3fBw_No7iU90L-GEoSIDKSuNHWMQfoiku0YxzWWmo7za9Lk2L_RQz0vRt4c0yT7u1121pNPpu_km47TgZar5eBZROgbqDZE7zMXTc_GSBVV9FWDtDK3m3KJ3zHF6Cqxxj1tRltmkUVHrTNqur-0Jcbw3cQ=s900-no" alt="">
                <div class="container text-center">
                  <h5>Julia Osadcha</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/5HY-_vxyPz62OVJogh7VTPxma3j-hqDEeiIfPz1Ti1wsZNFTh0eGTns-ZHiUdwDV_X0gd1FcjeHYao1kqgDDbZjZ3ie29MrP29taqb4gwCvJRUKUGZ3efEtCUEej9UvLf31NDiN9lEOYG2KW7aWT5K_-Zd7jqggRUlxvmffw_wbbVhU0SPNl288OjZiv1frz3Hq2xazIKCgPA7QHgCxhP96fzYJguY7ARYAWPOixcbjRnqDILeCSa7oVM67uvigX35aGEDf6J2-ylZOMV1dhkHZnvGOIw047zxZ-F71pM2qvn1KOHucqWFbOFB178rG97BoYYe4SRHhAI6O6ea-2wC56uMtRkVxh9PW2CxkrqDE3aRPtiacStW1hGb8X_9tjb_0YIha3fbjVBCvzam-nzysyUz14WcGfEXpoEoetTHMTUoRtIPSJyHQ74xCpZUscMe3yK85PPmqywNzf1tqdpBM8f8MZaGkVW9EoPKhZnCqdTBM9GdcG_46K5T8_zAJhDnIOOiTMXH-hbT3-oCMHXJd8v0_zbyKq1tN6g7vJIvDeNlcHNxVYDgSLB9cT-6Kw171YJU0493Vj3PIH61V4d5jRMhABvKH7Ple2W0ybjgCl7-uWf1woTdgIjR1RPJkDv12lUl7vwMECawT3LprCq3A0n-yaVe90uHPOd6fDvgMBFyCOGyevXX0=s900-no" alt="">
                <div class="container text-center">
                  <h5>Dmitro Yesin</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/VextsvYVqPOxlsP_qe-LaanDxoy6pfzG6dj_hMKTkqrFRjmjHGNwov1iXCLM31XbGkTActJiCAVM7mOtINXYbwckPRMIrjEsmR3fDTP0Sdo6s0rVJ0LJrku9Fu2MmP2Hha8xox-62wgC7aIbasP8XVP9KFmAPvM6T7TY9VxbIekREzNbL_Nv5r89TTAzUxSAFuWYOv-T5Amz3PpIDDHxloU-cIYDEz6WK7Egqa4Un4PbCRqgRL8q0tC1Jx22LxJtvWtOiYNJWAmqEeMxsGL4DQECcch0JPs7_7V_vS3Jw46cHZ0kNS3Z1jLs3fhRY19erkf6_7ztjenmw0I_5h8O5j9OU1ACASNqWF4wR6EX5HPMZN19bvftlt_8QnS9FiHCo48oJszGRbV2dBO-Xixdx0NaNWwj2aBuPCc0j873x7t1aG_1rcZp-ehHKBU4CagUf2mKPYegX-IC0ZGwAuSTtMX3b-tADmkelcT9ijyAQvj8IEsIFaPxF_dcZ6-uyyVA_dn70-cvFri8xX1Tt6P9F3k24ER3WBlnX6U66YpjYPPhydj9G7J32uy2m0CB0m4hpKg3XuN8fP9zfE1yGYLaLFQwleD5U6lRL4GGLDI5s4Al06qmaP7U1T5U7evuXcVYXUJ-S4lkQskPAjYpzCT4lOvq15yxhkTbGQqmCpHSGX4s-YOATjxYcOc=s900-no" alt="">
                <div class="container text-center">
                  <h5>Yurii Tkachuk</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/CUO4Yqsi2vS8Lld9LwnlZnE16yzUW0-N1HUuo0UNDcQ9e_0jwcuyQu_Y2QOOKBJ3qx9_T337-KakvsgFNGMA_8UjtqFDe5tC-ZPaR4-vvC1Wy-UFAPE8huCok2O8kaSEybiODKoE_d3dUf6yQVSzqWsX3ZYmAsUzqFfpvaXj9UqkWZAp2XGrEpsPjR0KNCSnrF_yiBBHdrjK_2_P476BoTVTBqx2q9khE6mw4IhnTV6_T7MaHLy-dv_WsHWiYOxLpGKREnkGt2UeBBetirBu2S34xHWhEfk_EdpZqiNydYs3J4d8-bUcOcbdiAjAmD9EEYgkFh2eyRp1idBncaFQFWUYHsbOBnLMlSGTTAR8qzsAiToAyePQqphdOJM1myGGmUL7yD4Votx6QrYBRO7DqoM9l1nQlIm_157BwFcczG2J2SItHMPpIvplOvyhBUmk4e_Gu3n32A6sze-9UpqsD1koLsEA5J-raAV0wQgBAyFQSBD4EGAAAGoUry-AIU7nR2FOHLvUKH_l8IMde3qDZQdunr6w2RRbPlkvNzg5Jf602b1mlE7Fy8cVPKm55mvcXqk0LHHFaHnd8LKx4BpO49pPYqFAfzlq8-JiCkXnK0KNjyvhCcCeDwKDo1G2ZS700CFqwsnqZgm2dzGKZyQhFurYmVLrug4YILhSsgDYBcytAaCa7z9RTH8=s900-no" alt="">
                <div class="container text-center">
                  <h5>Sergey Safronov</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid  mt-3 mb-3" src="https://lh3.googleusercontent.com/GwSRgXZpNJTUHRsok_hIyvyYo1maA9GyXMJs45q-e4h1W78CD7lB2xvzrQUIs2kWUNyd7k-3x2i77hQPReCvjnnZVzmEYD3Lmq3Op1iiliK5zeCinofTuoQP2n0XTg8CXPE9KoaZAlllMwbc1_IHoTkKN2JkjBhN_cnf5C6sHysa_DB1SkE_e06dJKDz1r7Zw73RIexxtNGjbGjhmAG2kMrHqkT5qt81TY4_uk_JYh7m1u6WmacN7Ljeus8_8us0pbJIr3bHL10Vv04m2eu4OU1ZlefMMpS2Oo4EQaKXEqHQVejfglLOfkbNkF1Rfsj-oE4Fyzvff6VKC6c00WK6ogR0L3HxRTwxjymIXIbsmsWYYsSkyGhU09BGxDzPDpN1udfR2RGda62RdNhFIBeWy8SZ5ACA_vzpFQfjk8hGNfBIJJr5WrqDO4g_OKQcjY66b4iL-eUFCmwwnuzsn-P5PjrVNoit9QkgaoLeRrx7rw95EL55QmzwhaZXpxh-Csw8QBiPXv6e-gwUV5K07mqum0yZp0vvimEp26uTYEolH3Mfe48iUiIDQ2tujtxIU0W_KQFO4GBrtiKaHLg4KDGzMt8KpF8xGAnHZf0XgdnNYvGbsUnHkGM30zlvLrtQfMhqtFlYFzPw78ACCHuAfNQpp98gqE_a9qxqkY18Jvne7pjawCnm4u3K5vw=s900-no" alt="">
                <div class="container text-center">
                  <h5>Nadia Chumak</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/t80ts0AX0FDuIYdc7BH6Fso0GKPmyBA72P3VwdrhxgX1vzZgod1O91PuxFU2PDb_NqJDIugwOydjGnHMw-0THkfx2i17HQJzFYBAI7S-ICjaYUXO_uQiQAb9FY0zxhn2uxeKeGNS-UWAhdgwa8C3aF8Nzlsi1A8twDy2STTsHLQxycMGnwJfcw1jJ2v5kCzRHOxO7ha2zti9K_Eq47h4VFUBWDbuaZQlPghdoL5F9muLprjlZoHhz9EPeS0bms_r_uVWe8c5rry8Gdg4u1lIzun14JijXdqGqLPlxY7WnwEjDeotL5LBb48Zh6WF8iNdaHRGwADzSvIUOaO0TtamNXPYCCEbW9hWypYTrdtiaFUrEkpLtt9hjZebHAyy-2MN2pnNwXWQzTBKwfSeKpHH7unT3t2mc0P5O3jzPwrg-KHGkTWPuJIuH95iZV7Gcjk1aafnOYi-KSI_Dnxrqq8wdCVA1BCeK3kkccM0U1dGek7iHoqzbntblStP-jJFYXgmW26z1LUjb14BLRU-Tlz_VK0erSxVWubKKFrAMxOaXNPI_JDwA__zixngvZ7ksmqIHAmuG9qGfywV83UV03de1z7pvnWDZf2dtixbcZWoQRPoiIA7ClqZACZzAyFZD-7nOU51YKsySweOi24LIiVw9jgkPjC88FZS8pqIo0zna4iNUQN_mxbOKjQ=s900-no" alt="">
                <div class="container text-center">
                  <h5>Alex Kolesnik</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/N-azVGtuId_UBfkmQcaUZy4QI-jFXn5zK7jTBPmgBuQrk_z69Ey-vUghwCuN5LWR9yzOS9e_iOIBCMSb-hbprXt1meKlTeXpVii8qRPuZt5bHuXNy1eXaxTrnuQOlYosNqyROh_G4L4hkElaIN11f6PQF_wMjX5lUmpExb5O7EuN4iHAPIbgBRUMp2k27iCw5FuA2GJNHql5JnPb_zk8OvJE-sDvsoOpZu8F_F-dn4yi8Gml-Hc5aNFccoY6k_-XHMzkT6uDLfSUZay83jasqezLWTryBKJ06z04XrltmQmb4dFewrUvPv2B63KVXcoXG_7oBK2wChX7tVQkO3fdHFs_Ep3pPTwj-HptrVvSva_54Zz10LhOxOvJxskqFCmZW7LtjnpLlphWakUB4HquzUGzD1cY1iQFXBsWd84ekMkAsr9ZGQBU4FW5jOXgEpwm2sAmA5XDytK9DbuRjT6LSqutLSXhxEnmUcdKLwbBdbRWmBxq4Fi7WTO9-gyI5E0PDHyIC6nFE1B72Uo3msgwXGpu-_W-LjArWQYlfF-97-mJmEQndrFWlOHfjYW7tb8vqt9buVj7cSkrVcVrYat0xCqRhKrkJgFBveyTiJlOQNJSh0uDA0ViwNn2qyXL3Hbik-q-YjbKU8EU-nlwclx74JCKy0JJ1BeDSfBs82gPtC6L_1lFIE-j-jg=s900-no" alt="">
                <div class="container text-center">
                  <h5>Stanislav Maslov</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/IeYESHSrtJVR3SPW9bIJ0g9wmAGeO3vPF4wB1PurnyvnZhnyxHtr4p-lex8LMugu9N1_UQcSewpwl3cm-xdGSIXlDHMaNknW61X0OLXmU512cEgMttxEmOgF8u4JDt8S1K5EAh9DRPsQZ1f9d0109W6-OXBBFxbd4t_T3diHDmyqeNx1YZxF6EnoQkvfWJ2Nsq7Ogy0G2WUblJfk_v8UE32De4n1OmLiUev9U_iF2MYNfzLnwZDUkliSjB_NknNAtQEQnbSzHWqW-XfqTUqvI2GfmWNJEIt6vQ-LONIrvnc5WIdaPifcqnc6W_97kzDDaxlrh4wJxp6cjcwFVAflxYKx8s6WKgJFOxSWvA2NgFNdSM07G6j4mlov4yx330qDwMKH4czp8FGKdfL709fi6jWSeOSfQ5QI3ig2oIXcltfhShVSnYY9G84eRqY9A_nm8Ymn_Cyp1rT-iXWWExKM-EpzOOe0YPwwjqhy3fa40YnPCbhCuUFRSDwG2mQhcvAhO9OntRB-3yCtsIgE3xYxRydDyxf_DPHm3gRN4L_RINmzzCW-lAIDXbHQgSsbCQjre-wo-inyPpXTwJSoefHRbXJKf-i8L0X9sv0Zlu6b4G6XAA9m8XaGTlSDlXaCrpoD8bs9pQ7VhIvpo4DZyYl0bMYdr_grtEzSjeww_8XRhcqEcDxWelTGs0A=s900-no" alt="">
                <div class="container text-center">
                  <h5>Maria Boginska</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/rG5QHbZZtyIYJtl-eEK0jRqo1KfExqSYAKye-kykbSlOImqxZm9wrB5c5RR51CP72QIl93UoI6OkwSPR-NHIAsTSLaGSwkV5RIPcTdA8OPw60YtZZwxMr0mJKLNOhP_WN6ap8fS0QxzkVPcSux5RHFPckRX7mQSbBB8kjGcef8x4av7b_zRECJNskv9zbzoZ-A3dyEGPiZdHsdJy1UvCuajXu3lTrOrLiaD7SdzkSbGTMOMA1-ces-nRtMQk-VY69KPfwDCH5JjyYB0VuYkCVbSBCYJ5Dnjc5L3tnjvVxu-QRgEtvcPYi3mX1bM3rCrn27rijWyRrus1T_FKQB4whDvzEL209WIfKL69W3EOxVU61eXawza66vDUIpClKB6onvDqXQRyQ-mvbL-jVswiPNnQqLxFpUVsGEeY5EAdZKAfJ5YUG98Gm4Dmp9lgwI0yIA_TzxO-8DGD6A1zwNzldGPV378lqYVLxlcVm5-XGSfhxcy51Iv4R2tXwqmjvE4uVD3C0O74PDPR34vitzU9qsB-C1MtG1m1FKBUFwr_G4WCdx9NLtbNSmWJJllm1OAOhAoTjdzB3v0wIIvtJHAc8zpJi9ybrvNiOmqp5moDwZ7aNStbUu8IYTpS4td05ee9dgH_lBApvenNEuUI1VPc8jNBSAFRvfvPZQiCao5y6Y5V7CdbnCWgn58=s900-no" alt="">
                <div class="container text-center">
                  <h5>Tasya Bykova</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid  mt-3 mb-3" src="https://lh3.googleusercontent.com/Osb9X0mlZw9MQjS5VvQzABrlpqOZI13Znkw6bgNVgZbnlSunfSMP3L9K5_QbDPW2wH7dCw5AvNdIwu7g94nN-utr1GPeT1AyfJQT5EI9nq6Q8No0tA3NujuOeHaqTlscw60rp7KOBDvtpXPBgh_h0uC_IuazRbYCizUKEFSHpOkSGi7wbPTyYTmKEqRRJAkVN0bPipeUwVCplZA2NZv1rItpQb9XFqof84ddMORBS7foM_fOk6texS7_nNrC1XE3-H2vT3JDW6ifww_tRmclQ-GPLyQD_GOhNh_105LI_R-uuLdBOLoVZjuJgtWBZ3VTpDubd56w2Z90GJQltgT8JT6xIoA6SxVzffY5B8CfEVbXNnuzRSBoqngAzwG9hz8KpHuJOeQv2lSx-cgkhOPSLtIzIXr3ZvhRFGNcdeRSVl6ApIoi6pj6zcizQ8CPv2WcfbdIxqkeJlCQ6Qmvu8StMgLZ8f91i_bHwDwcf9NxzqDnyw4oj1gcu7hjZ1lgwLfOsiNpJEHt29lH5Qvrn7TxYlsyqLdZkI2anNiqrjjIAc7NoPsXqqS9Wl2dDywXXktNj51c5hoSuRQ5ZZme7KGkCSlxYYuDxFiI3roJMnn9WfAahorGf_8WE_n7VI-_la5MsApxHMOMdLWthqiIS_PgxyLypPmnFDNwNUaCskrOUxa6XKRJV4wZSG0=s900-no" alt="">
                <div class="container text-center">
                  <h5>Andrey Makovenko</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/kiT7-vhroQ2yxNQuTkMEU2IX-Xjz1cvi0aowIwJNm_xhfIJq58VTlQBO84uyAeOpmTj4g00tZfRdTqV6ruZnIsPv4PFEp-n3QiGJH-zvxjI811imTYi85PYHlEvRKFdphnpaz9MBpkBi7MFNRjHKyDumQ46IXxyvwesfDi_YU23slggxN-nzR-k1OqK5MkwrNREe9cFyu_TC0hc0i_2vDSyQCL6__h349fo4UtMTBpbBp-J-3DCGYYRZsJgBGg_xEcncAdMqkXL9eBMQBxQtp3Aoy113tG27zgKCVOQdwV4ennt5CPsn2I2tngyTc-Fco-bgJLVGmRH0kA8WowDTNcwX7yUVPvyhF0FUzGPJaKhshe60B-_6bH-4Rta-8TP2vSONtala0ygsn0U9VjACxEOEDCFDqBELN8ZOIgS5jHWKTvAJ9rfTmeV8qlcmBMzUHBunZsp6wFLvVWhwdyjadOLivB2BvOBCR3gJRxbEMG4brUJcxjBq-V_Mt3MoIzRU8ukSTItWYpc5okrQTQIXCY1euJLPrdR7G01c-LNiCXXa8kof4yO6nmSbX1QgS8yGMsNQvLUyiWcXqYAL0eXCOU_p5T6VRHuDvLLkKO9LZVvTEG-2U7-M0flRL2SFPq61OU-Y1XTUjLJKbSeKRSmPD9vRPHBRmV3jxo_cWLGhESMEIFpV8yRL4qU=s900-no" alt="">
                <div class="container text-center">
                  <h2>Name</h2>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/ZxK-3OyTPFmiPIzV9TAUwyAJQDGTMYN1kJjrw15-0UQ4RZtT4U7PcYjhgGjZaHeYj3598geKmvJPVmmE6fw5qseOVHkq7v3zjSM6vB-dS3k_OIlxoeY19L7B-y70qNcxmNhAUDRHd3jGAltmlYSSpCVNj78O-ngYWaKuOcry2eHtVI_Lt1dnSVsiVOvJ_HwbP97T-BTbyZJ1KFoznGc_47dZUGj07r_zWxTSOKJaIMFAX-LT8x2RLbcipWJkqnLfLVM8Jnign3Z35AKNZqbGP4YOZotHy81Cn4jvmwENvM5AroRBZh4IOx0mm_J4ylqBwo8Qss3vzIZU8OWJcKWrVB3Gj3lHelwoWBfrLG-nvFsGG7LsMxLlxw2YglNKSye7LjadYikQSbxnNwJUf1vxL4qFBB_vua-TSlLSh_qTmd2kYD2U0gqvJahE-exc4J75gfS_zbnVasj4tC4PvRKU9-JBsLCezsJS3sGuKUqwQiPDKmJjicVWuCi-Q7NkCPROjniB_CDqxAtiqYk5kjYmTdfNoiXQH732MrbBoKq6z5BgPpE0mMKBEGzUBypfTWlM5M6u4Af4D738Ym3JUcbftiWPL08YmVutT06K_0DdZde-6Kndj6PEqkOvkFLmhXRsZQB2Ek4E7WCu1cvvf53mYY-yh6esVYoViYNf4KDoB0cfOME-EirIl-s=s900-no" alt="">
                <div class="container text-center">
                  <h5>Gayané Nalbandian</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/HuJMkcogPYjKt5Ud2Y8bXXa4XXs6Jp3ha2Gyb3dRBUaU3k7h7-wDgE8FgZL0SRKx6tWtLNgAZYh0w7OFnY_MQFya199wdcFpRVMXHGaCOMae_0q-m3NXOAIMDK8M5kslECW3WYJUPg1VzN380GGKDLlYicj4BSh_qs7HGDpzJWsQ9L7TvnTXhJBQEQNcWx7DhFpYGUNMbyazgVRor3xhM9d4ywKTl7EN0uK0XsVI4qsu7tZKW3ksjxVGViJDtGTT6R0uTf0yqoPtZSj0t6i5MByNoP04N5WSgOKmK_h-rr7TmOMfugEzy0gPsCqzPVbPzx0-kmbi-aIZo7Ed2QpYKaI86R8Lg-9r_-_acBpFS2DrRLVNbhst5RXvIfgHD95RPgPSMszoqnH7Uu06igqX7781rut6F4gFlqru2cOcc3dvcOnbuaV4J3hRkydhA7YMX5O1N2tJUl6i27ABv22EfYCQVTUJSPqg1UVbRzwcqssLgrKEr91C7NfY5M54Xya4RFLOJ1AW3rSzlkp_mWUfc6h2Ab0ZQN64H35Qcx0sX7Nngxb3bhpvfqcyFdlVldTfaGKpau9dwa_vRHJqAY6JaOg01yhXxF86GveDJzyMR1mlVUZvwPjca1LCk02Vm8De4YANAx6yLrOhlXB55s90Bnfz4z6kBNjuSIezq7Ly5ABrPBnXnNvfO-c=s900-no" alt="">
                <div class="container text-center">
                  <h5>Tatiana</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/nTt1_fjhXuNkFoAZKO2ZM7Ly2XU25Au0bMIfuQO5BwXvj810mmKxTLTeyRZPqk6Zok0wILFMPmClyglyS8NPoXYXQKAx1-UllZiS2d6C_WCESgeMGrx6SruEJG8BTi_bzalNj9BQYoPbTVbuJHgJTto1WYlwa5Xj-SRA1kx9oTseBmc1XzwBCF1jFOPOlOxOcWTspMI8G1lTh5JsLa3B-Bl4Br7Vl79B-Y0cKtUKhb_giH1xoHXI2CXsHVa2AllPGctrK4Ozr6Odj2xsEI_9u6WLggKe__aHxILJxTQqLujKheft8b7IVpIlALDkTyPoge59u1T-x4dL0B7nMQfXFkmzj-1t7N4PZ5KZdClhj0BK-bJhR7KXWR4oLWG4e1d5pzasXRHYrTwyvSTU3j2HZiHZMIdpxH7boRxy8jwbzIiT2ZVeelSizcb9KClPHNjCq-ybYnZIsaURSGUW363ev1M64vRn06Bep7oSqQNRz5B89cT0-B7krGxtkE8jGO1z5QQmWtiYdi2j69M3Itb6ReAHxnWAgnwLy-DQ4C5ZYEx3XTohzEAcWp2ZCwQ3eUzYusVFMdgLzKMEHR7_kPdgev8zO1v6k1D64lNdzBgftBrRMLkGXhYhANL-bjd2tTEKcfNPQejX0Q5AK2XjFnZaap5RaiyrX6zySeYzil5bTj9-UFzzjbkrTYM=s900-no" alt="">
                <div class="container text-center">
                  <h5>Sophia Pavlishak</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
              <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/x_47HYw4X_2g1mCTYwUMWUkLPrDFl1WBkWRobzAIzaxaJstBXh64CGusd9il1rfOq5VdE6rt4_ZDQcf9kLdCk2kojPL53dzZyVtAci00oJMBN2XNX73AHEVw8LQNd1xTPHftW0P_XtksDB_MP6uFeAIleOFQfiCnJVM8BjJJurixbbhb8Z30ZruhyY_K8uTDX7OlOwTYdeU58NqcpJHB1zauJRvpGxRnxsepxJcIgE50MUdySbUK3sqk5fIlNTsBDdkiAZIE_tdWOxa7XogtozP1hKIVMkaKg6-4RRZMdWexqPNz-anIKLBtl118nDIgYx43KfQPsO1RShOFvo9FDeBwoCe_hPxwFcBx4r-NCyRWLJwcgTnTlJOl49xK0aMSHRdt-uQc9RySpadM-pI43nXTW8DZ8jd2FN23SPy37uYrQ4yiznraEG6PWYhaClSGCRVybohNgEmcQaKUBgHdcXDfsnwcZGtDOYGr0FotTlp9z6uiLvNKtdWUFWDdaiEzubL66AbEp9ZHQUWeerrQ6c2hH1ieS_SDWQecfU15aV9YHdhJd6SpDzrdAhRW0GL5P7ifa0n_0toge_vOEk35VI6c86_tK_CJSBka_OSaex_IRcMbbAHfGQhXYwOwp_oRrziyuRfJGQ9UREmgWyn2ykSmEcFsVjUFtm-4wS9ZnJGaLjGRMNj98Rc=s900-no" alt="">
              <div class="container text-center">
                <h5>Galya Fedorenko</h5>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6 ">
              <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/XDLW2YLrIa6YpmENhXPeX4XL0mPXvgkTnWwROS02R07bTPKrOUyCsMgCh3kvRvenL0CJUu2INzZVOGxpZiKiG5YBj5HPWuPJVNyKl0_hyWVvmnummEOOckwbClWa_-yn0rxlaJ91c9-k5lLkLsm_tFPPCmkjM7lDJL5xGrlBpm27SmmRl7VXoX267xeyKFBvKg-Dost8s6uk54-Ei2yYuRjuHw63m81nmBJp8NzMTCl9g6jUOH4UMFk6zmNXTEUIiJ6wp8luvlSiLlyCY2HLCEAyRRWP7Q2HfdC_Gg3Za5NKnp56os3hIIABn5Lfs71cowuv11pmz0pFg79vrpK3O_iGMYLy_sM3jr1d9xbn78gZ7XfLbvBekNwO2chER1KNRnDJqQiMO1UbomZY6_t4F5Mjx-VEyHYAMbubBFaepGhDPGwRTTvVJPY9dY-NA8GdVzfU6ENfs8ZU0cp7QSWUKQ_AWy2MCrwigYQYQwuEAzAy075Og_zDHSjIaYQVHrIrclHTeYnNs3_oRe03qQVs1xz8nF24lcd3J5gCJFM0zeMPM28319HQ2HYpvlhO29el2bPeqbmB7fEOo84zu42YVJThki373UZv66QLXIDaPbIoph5mXmC4v0kyK3ovBbv7foNdnfPMw6NiaoEJEN5OGIZ3Ut5mGqLZkgGVDEo9HBXombZfWrDxK84=s900-no" alt="">
              <div class="container text-center">
                <h5>Valera Petrusenko</h5>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/H9Spyc_xJHnGqr-L4yVB13zKqhAdSgA6mMhmPbnZe2zd6NXboZY8APaSaw8t3hCYGP7nrZyz2w9jGFXnWzxOmPTK0ZeH6i5hasd6s803Dbo7a2467X8TxQf49_VPvWTtzCNjCY3pSWJN7RRZWFLZjLQP9V-xoKlP4KrAQJGjQ6KB0p-bxZl0JjVrhLQGyBf8JzwzrUMev8_lcqBs9i6I5ZrYcM3o3gK0dbLLTgixEVUH1m_XFtrUEcQ6ZcYeolMRehppv7BlZ25jnzuduuGFucxfXOxKsLpneK5xmYDO4X5PKpOFHCBIyfFWAO_jBy6aa1JA99J0zIJ1J3OHv8KMFAgHBV0Vxvg4jYc8QWQzEuOcS5spqhovGDdzIg3pNjm12uKvap000c7ehPN2FN0fGQ0hjAI4eBGOwJZf1d-2Mfua1m17guYWera8cKA46UVzUB9HUDXxdNZyux5mq4gwIQsC1DucjxIfY4nNYdXLFu0u7H2mEAgukfFn9efObKH4hoHYtbq6lERNv-8Ecv0okPy80QnknhxuhnvLyoCWR_pUdRYd0g9bolh7tVb_aKeV51acDd8V7NeZ-rTDthAdf3JIBHmD1_0stRAZdPRh720YNRFNNSrXvqR3PD82I-kDkONcLZiEnzdg4PllHS1ZExu0HdQLjKj1lFo2NJI1o7jmwuIr8JeOgE8=s900-no" alt="">
                <div class="container text-center">
                  <h5>Alex Yershov</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/zgCzy78k8DBqGC56VuZyZV65MM3mWJ4a7NKYrTKONpwabxwAKp0-Ub6Cv24Z664Hhrt-3myU7uSIxqd4Kaarjb3sqwD6Op4-TizPDScLDuE6D0PWbvfl-O1OW1TzAWGT2v4h75ND8kUkNftXe8Cd0u4vy8cKnkRkWRqkBHGxeoYGw-U46zR39f_5uEzBNyGnaK7ntkhCBFVu4uNl7N9eex_tiDuXY8JVG4h_LMoKtTX-MzS5WIQl66-kkGFxR7B25sHFH6fpO32NfREHLwsinBulcMBP9mn0lcnzJcJZKvx4zeXmhwug2rn9H3K4_yyhDb_6Bh9TLoKK9KQEAqzJ_-ywfEqTR9irfilBapGxAsuCiuzz3AYYqURz-TvO05thmA8CZ-KwVbdBnkQv9BouQHAtZHRw_6rB0nZzOtF2ZHszqnzu-2qcQR5WmHJy2cu0Eu8Qyc5-3iIOBRnW7rFXbGJdClkoC6toQJUvc5CiZhCARuiwv6pnTsaBKplN8z7ZS3oJbPixvSEVOeYpUyn9LmXDX42Wqo8PkUpxX9w3Pl31E5BHeYfkeGM9gqFhfwJzmYmDPwBSvp8_ms-x_3z2nKcO_OY3FQP-AgoxkZc-HWjtnstNqn2wKegmgu52gN_UofXxBXOCanWBMRgcQSmgpj0cUjWdT4OrjhbQbYJFmOvedDgVZWDumDg=s900-no" alt="">
                <div class="container text-center">
                  <h5>Yehor Chumak</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/BlB1rVm6gy9FqOKVpXSU9EPqdYPM6VYjgIyX2L3h7VffOBr5VDU3r7-TyRxBvi9WbSA_e9Evx_gYYRxFrL9p0fDFHwd0G5ehkMRB_d3f5KfL7oTj4S8EXwMgEOy_-AXqpARbJM9CTIvptzixhBu8j-93zDWIlt0AQ4sWxc_syNzuL215tbN5Gi93AhkSJ7G6ERMVhAKjXIGTUG2vrVv1OaJRkxboXT9r1IuPW0pexJK4vYEj7e0--7fhQN3v29_eWzwwX7E_Ps7J6YDOypgCZFpMHnaT6yvYNwQlKkvWNOBJ4lVCw9M8LI9c6DJzpwve5ShdVYvf_mqEb-_KCDoiNwiltD0vzDG4jFg68j5B8T0vTW5K_H1F-9ZvmBtb2I-9ge-MJk3GeuMEar_JnVpcAyCBp1sfhJNy9vCp0tQ285dfJMV-5y0AYFGJGAhoTfpbACiR3VJYi32UDkerLFsGd2pAEYhw0v4rM84Oyc6HxKr2ZY0lbdWbaRZTfyxGlaVMCotvDx3KCfoFyesg93beEaO7gKa4Al-udBk7vhG7F0-m3urr4PzyVeWLtEHxSZxVdYoD99Jwtw9cp82BADZo6hfZB_XUc-5C0jGvs5CpEfSwURRIF7vzJbEyrZlww_anr68CdojPFlwgquXOj4fscVQL4UeXJC9sKruJ_DU8pBkb7Vzk94Bz9ec=s900-no" alt="">
                <div class="container text-center">
                  <h5>Maksim Naichuk</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/RC8Vhg1zdNavLGqMrsz3nfNiO3odv8s9G07l8gnWhfFvl6uZSbjLM3JffOogNGowkSCr9wL8VnnT5SibBjhgMIOfGPhOcOf5uOxxUmqa9d2aG-iXZvGWgUbV2rpJ2MtJNJAZ5Wd4K5Rth_PrFRMvroKMHIP0r-8gUFpVNJdHMyogFFVY_aj25Zqazn3VIQmzRU61ksJ1EGI8Zukgm8O3OlU39uxupvFr_E-UJRbfpctsXiwaUuPKDK6Nb4q5IGT5eTds3dH3CGMG3Brlav101Ztg3cxMOxqgJ7WXTUMsDcGN7BIs14UYU1ilh6xnyyYJTykSddSaPmSFD_UHn34Vk-p03t4G2HEJqPVce4fxbph0vrHVy9k9Gz_VzcRSFcIZF4cz-UXCyR5Hi7d5opKjM9Yr83meZ6FVSPOr66gmLuDMoNei64ZbmBtEOGfmFOcQE9s6SgR00znrO_6VmQmHErnnN39PZLv2lzdby0i4vut7z_cc7zG0UDPD0nIwLTzuFrbO8-DeUPXLvi5KEVrqaoIWvOZ19UDm7SetcCY6G93ONy2mEDsBpQ9-RDL7BmtaPYv7juMgVAGYv0JUtW8s_413tWtbPZso4MUuN7SdrGNr3X0kGIDIegvTzLec1aNQPpamyn5bNhAmLzmFz5tUkn8V5gaIPscT1PvbghcBe-W1SIb7r8pj7hs=s900-no" alt="">
                <div class="container text-center">
                  <h5>Ali Shanaakh</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid  mt-3 mb-3" src="https://lh3.googleusercontent.com/vHgsmJs5Z1u0WDZjAI7s4iZoA9_gIope09Ehjp7hGFlaTnofhvA6lN0esjZylMHhlZ2xBpicb1YU-Dd4HI5DcHgzNUWW9oY9dyGnt9KBeB4XAO5sGc59ma09pn9bI1uSDE-XLlcxlkulZTHNklvKm0eUEYg4EAFR4o0niycbspDbAQBTVp6gMjv0zcg_lSt6ArNlyWpkne-YlkE_5vswK5I6cbiEg1iCe8ozsER0txAFMGaMYySBZPSV9VWNF8B2CxQpumpz7h_xj7B8lKG0t4XTaj4bMlXK61y8GmBsM4ilXdRlVrwZYbtKKfDY9j74gzqapjMNbROrTKzAYqbkA3tu5LVrMHYsLWjjHqO8z600fnG1oURY8IQOMkZ00d1qRG6hZV3-2Ez-pSdetBpHnDepnTtTTNoZXUN3cQVb2naQamfemSev6hZhmM4X37591YMW_1vhqQL5xOsiNJlzRBj1FyAyPeIcXYk-GY6pDW4M-DBhH6Gs-6oUQ5GvhuTLWjOrsUUmxSvHkEd8A6q35oHYE71KdIl2kiOV0W2tkfYj1oGERTB9bJNEh7e8wbECnnX7OdzOtl5XgbAbP8IZp0oWq5XESADA7ZF6tfeWgQysx-9V-cx6PjNsDEVyg8FHe0btmps55l2HzhMKOOAjNVLv8UInVK8jlItHJjpQHSLzNJIBZuxewo8=s900-no" alt="">
                <div class="container text-center">
                  <h5>Anastasia</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/-ewmMWE8PBhXMU2ljmZLKnknEKC_XpngGwJjBPcZKO7NqNjsEwkxsDWadt0Q_FwSlkFNOCzOLxugXc6Yl71znyJaQvqUKKxGJGb_wkPszaDlYnD_Ye94gXUlZAVKX2L4uO_SnwJ9DgaNgxb_-AXBjWO7RE8r4xVLtcSl-oNZ_Bs8gvnH8gTZtwzTEmGd0Bcm9agYAGAQf00cXHWivJ-9AmhjdLc0uBfojhEeHVDGXiI15Vw9c84-31CCudKj9eiYNRbvFkYxxDlFQbTxdJobSX50agtanGK6RpMtiZVEhgYotBE2YJUFgahger1ZomdLq6JxdLQaGTJE9VZqySEOQWdXmiHr8SJQF3P2QALCeOf-DuXjjuMO9ro1WmWI6MAUfZvJ5TWD3eee8zMHmbl-odE_heCo-ISNI1fuVfumzoytkWI2Kx2WXI_iaThGvC4s_J1nre732-PKrel_JjyDx2gsPw_9i3f_ki5uCvt90FOQ8VSWpsEY7CZz8mz0Xslqv1YQmmgCOSVvMDVDkujrmYhonS4dzEfvgi3Ec8LzL6FkL0QctWgSn1RNbThkEq9HKe8txwaFyQgP0LJwm68cJBkxluzQQ6e6vIu5RTx-Po1uRFVeedxmwhYvWN3cSpKjoOb_HCz1ZbmaG0s-oY8N3rdVVdcLaPM3i438_aTeQeyWCtNoI0TdwVY=s900-no" alt="">
                <div class="container text-center">
                  <h5>Artem Linetskyi</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/BSZTVe2Z-MQ9SZ7GUy9iIkxX7V84TcA-ykP2ribJcPvuI1sdPcfx0hqHESkYnhQ0YzIVDEDgaPGL3S0hjlCMDJKvjKCrdJ6N-1vSXETbkngFPxV8u2kxyYADVjm4EU3uj-2mzOH4J-gc68Co3kpi71enju5XW-5bTzyKc5y5677i2cczIlcpkhVKuMTQDte705KSt3uHQvwqhb4n_zrA2oDZHeKfPy_o_I40xGZAA1T3VfjWI05mQtO-d4f3XSJjku56bjrUirNlTvml841v17ixLUg-yWnOo2SwYf8EpuZQ3_8G77YMoDepQDGSF83nWaG1T8fbu61g5NFInZALaOAq4jEuLRGnwz3wP1y8JGUSLMY4bC1wzwdIaB9bal1xfVMHO2ITxapaenTd69fCq2peXQbF6ce0ZmO4PiAyaBSij62WSvDrepBL_b-8Yg1n-8UAaX3BQa5Eh27hTjvNY-jFcMxyaUZXnm8phvbF7UV6oO-5yPDp_ockB7NTZW5T_5yCmcKtKlfxHMOU98jSDRZX47Q0gPWwMsuDhmWfYrFCLjRIfMzatcKR-eV64xCUcvuxF2mbliGRdYSSN0xgrqLBeigR6p-uagqc-FtML7kJs-SpGxmZOhAj4ktUmiKsrgab4NtsANF8usxa-bWBtUOpTl1M1tEtrwleS1abtSU0brFnesJVwo4=s900-no" alt="">
                <div class="container text-center">
                  <h5>Yehor Masiuk</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid  mt-3 mb-3" src="https://lh3.googleusercontent.com/92m9Prx3YGWc7YEcwac5FUgtkudQFbeZRg1RxhxIiD6wzOC-Q1ba_Ir97v2qso93sg-sq6qaCitJT7kwS7aQuCvZaTzr_dW33D1yMXTyQec-fyAme3sPZnpHAx-lz5IwQ7nY8wt018DoiuMpKwSYxSpIrCtSBzXSBFLRZlAyAX83J6aFCr1YnecLDXwmRFvqRoxzdCSgKsXUjItjhXYPYaie_0NKohsuOt5XZ7cuuQMtgI7sLDJKiI8j9msiswnfQidohVA_WDG23uaCntAPNmfdenD8XGj-uzekwgOUeSyYPPN1yaGQpQbhy9aJfGzKQBjMTgz136f32vJqqqXX_9wIXs7Vb7RP-SnqgF19iq7HxqkLWqBqjkzulDBSzrxuN4Auv0ZPEd4kFBnNttQSKy83G-zS4BVJaUDhPbbEp8AUdhdixtz2K3JLee_W8wSSJScwxSrRVuEkHsVCnxb5LVwiDo4OmIlwDwDuFZcbeKG95iMU5TwRVK24-zNUE80Bp3MQmIe6ki2h_pUZjVoBEO2MnRhZLYOv1Th6ctPKs3B3_Dk_rmksbWLNBIL9e_y7ou-SlqhfnKCsEXusbB1zk_iyLZFvJMxHKn5Pxex56MwxOBt3pMcDvgwsGuEnL49Q5id-9W545z94brCyS5jJlRFe85W0ssKn0JC0RGOa2SUC5nK8MflRF2Q=s900-no" alt="">
                <div class="container text-center">
                  <h5>Ivan Marakhovskiy</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/MPkW9yyIY9OWfHyNuFXzsjjxKj2c4xxFJa9nNf9ty7lxPlFUDuqxLrV2B4gLsRDoR34D2mZrMIM3QkvM8y8P1UhjkexAefDNgB6GZeVBdJ_rcVuHmAQm9WqNTFd4ZDkFzcA7nXTvodaYwMz4NKYUNH_8cEViVOZNS8SGM-gZLVje15EsxMsJbvHaepAeXegWNJOouWPRfO4n89xSIaqRHeXktvfXYRZJqArhvQ4QXyWCeIZjOkerMgKQV9z5cy00pgu2RQ-EDTfpM7-ANXm0R3jL6G5Rs522O0Tx84jsT_78rLmXmBCPwcTZB-RNkosjxwnnB7GmfCFYSxEXhPCEz35pHABHvBMZnSONvjQwm6ruRB7Ba7VcIcpanOVIzWqsLRh5a8Phb-jAw6hzSgHhZzRD6dIizgsf5gHPXpY5lO3q7P5GimOO3DufMBwevWKUgrJPiWoBaQfeUS79rfnE1nfccVvXIgfPaC-Qni0z53xaY1VJn6HFQKc_dApviFGq09k2M5EtNEuKzNRfvKJKB5f8154w4AKsxPeB1qOm7BQPaLviiku5wsE1EGRLUPJXjs7T7RnSflhbUDzHT7nOK2U6uxYxuNF4MjkIO08vsLvpmUssN1xM3tFMCeE6gnROssi-t8omXfwe9TXCDE0Zv0bkIP3FQFUnWGOcU_LjVGINqIrawlh5Oow=s900-no" alt="">
                <div class="container text-center">
                  <h5>Yaroslav Savchuk</h5>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-xs-6 ">
                <img class="img-fluid mt-3 mb-3" src="https://lh3.googleusercontent.com/AsBTB6m1rkBk8NcHTK46gUmDUD0HSR0U70XYMrBpOz3LP9Pu-fTuqsI8rNy0gxocJ3js1-OiAWOX8UwNU6mhADWGO6pbobFx9MfXAKI5EWja2vZSrw_MwXuMoH2CPpQpjO7wXWBaRm13viWBQdcW-df5xttPp-MN5d20uXkDrrcAVOKKXgjvkBLfF34fk07kvs2IBsJ75LW5LUcp-hFZEUC_6nCbYqdgrf4IPudcrfCmEOCQIKg055nbIj77pYL4uJbC1FFrzgGnJ8ykjGkW31MC_7sWH5ZLI5_sJOmwRh9Rb9-QFAH_TI9McGbm6QF3JNAPcc3QW7RMb8YVsKyR3ajrjcC9DDbBiYmH9mz_MwWix66iGmKHEQ0Cl0Pc4NzjOXnuCtIcK_nlDJUMCVEflHBFW25bTYP5nGMisFMHD9pQ9UYYHXEZLfCu-6r_3M5rtd9eOEYRla6kM3VAoYgfqcQC9T4gGB4q1Mj5W_Eoq4mIWli0qDEOiEV8fFfcIeKRR6_vK5I2el2NzW4-8DK7XnBl25X51VLaaK3hB_WeJuVF5QNfbXggsU8Qz0fEnd7_-lJPozT27HGdX2PoZLVxxUJB-fF3R_pJsPoq8Okw_C2E1iJFIKuHlvbZYmEGKy86s4_csO2UdRmsMnJGRuQY0dWF4IZTRjlLnm2kGrAUstbnw75Xq_y8jnA=s900-no" alt="">
                <div class="container text-center">
                  <h5>Stanislav Starostenko</h5>
                </div>
            </div>

          </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="followus" data-nav-color="yellow">
      <div class="my-auto">
        <div>
          <h2 class="mb-5 text-center" id="follow">
            <%= data.i18n.en.sections.contact.title %>
          </h2>
          <p class="mb-5">
            We want to make it super-easy for Peatio users and contributors to talk to us and connect with each other, to share ideas, solve problems and help make Peatio awesome.
          </p>
          <h4 class="mb-5 text-center">
            Communications
          </h4>
          <p class="mb-5">
            Here are the communication channels we're running currently - we'd love to hear from you on any one of them!
          </p>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-github fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
             <p class="align-self-center p-text">
              Ready to dive into the code and get your feet wet? Welcome to our GitHub!
             </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="https://github.com/rubykube" target="_blank" class="btn btn-dark btn-block align-self-center">GitHub branch</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-telegram fa-6x telegram align-self-center"></i>
          </div>          
          <div class="col-sm-12 col-md-7 d-flex">
             <p class="align-self-center p-text">
              Chat with us and other community members on Telegram.
             </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="https://telegram.im/@Peatio" target="_blank" class="btn btn-primary btn-blue btn-block align-self-center">Telegram channel</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <img src="images/logo.svg" class="align-self-center" alt="Rubykube" width=95>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center p-text">
              You can find guides, recipes, questions, and answers from Snowplow users including the Rubykube team.
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://discuss.rubykube.io" target="_blank" class="btn btn-secondary btn-block align-self-center">Snowplow board</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-reddit reddit fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center p-text">
              We also got a subreddit to update you on all the project news and discuss hot topics.
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://reddit.com/r/rubykube/" target="_blank" class="btn btn-primary btn-block align-self-center">Reddit forum</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-youtube youtube fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center p-text">
              Our YouTube channel is updated with project webinars, demos and other visual narrative content, make sure to check it out!
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://www.youtube.com/channel/UCGrRNy-EpI67ivdAL5z4JIg/featured" target="_blank" class="btn btn-primary btn-block align-self-center">YouTube channel</a>
          </div>
        </div>

      </div>
    </section>

<img src="images/scrollup.png";
<a href="#" class="scrollup"></a>
