---
pageable: true
per_page: 10
---

<div id="page-top">
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-column section-scroll" id="about" data-nav-color="red">
      <div class="my-auto">
        <div class="container">
          <div class="row align-items-center home-page">
            <div class="col-md-4">
              <div class="row">
                <img class="imglogo" src="images/favicon-32x32.png" alt="logo" height=32>
                <h1 class="titleR">Ruby<span class="text-primary">Kube</span></h1>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row icons-home text-right">
                 <a class="github" href="https://github.com/rubykube" target="blank">
                  <i class="fab fa-github fa-lg"></i>GitHub
                 </a>

                 <a class="telegram" href="https://github.com/rubykube" target="blank">
                  <i class="fab fa-telegram fa-lg"></i>Telegram
                </a>

                <a class="reddit" href="https://github.com/rubykube" target="blank">
                  <i class="fab fa-reddit fa-lg"></i>Reddit
                </a>

                <a class="youtube" href="https://github.com/rubykube" target="blank">
                  <i class="fab fa-youtube fa-lg"></i>YouTube
                </a>
              </div> 
            </div>
          </div>

          <div class="row justify-content-center home-page-title">
            <h1 class="mt-5">Welcome to RubyKube</h1>
            <h2 class="mt-2" id="about">
            <%= data.i18n.en.sections.about.subtitle1 %>
            </h2>
          </div>

          <div class="row home-page-body">
            <div class="col-md-6">
              <div class="text">
                <p>
                  <%= data.i18n.en.sections.about.body.part1 %>
                </p>    
                <p>
                  <%= data.i18n.en.sections.about.body.part2 %>
                </p>    
                <p>
                  <%= data.i18n.en.sections.about.body.part3 %>
                </p>    
                <p>
                  <%= data.i18n.en.sections.about.body.part4 %>
                </p> 
              </div>
              <div class="follow-btn-about">
                <a href="#developer" class="btn btn-primary mr-3">Join us!</a>
                <a href="#enterprise" class="btn btn-primary mr-3">Enterprise solutions</a>
              </div>
            </div>

            <div class="col-md-6">
              <img src="https://devblogs.nvidia.com/wp-content/uploads/2017/04/image02.png" width="500">
            </div>
          </div>

          <div class="row"> 
            <div class="col-md-12 col-lg-12" id="developer">
              <hr style="width:40%; background-color:#ccc !important; height:0.1px;"/>
            </div>
          </div>
          <div class="row justify-content-center home-page-title">
            <h1 class="mt-5">Are you a developer?</h1>
            <h2 class="mt-2">
            <%= data.i18n.en.sections.about.subtitle %>
            </h2>
          </div>

          <div class="row imgLogos home-page-body">
            <div class="column">
              <img src="/images/ruby-mini-logo.png" alt="ruby" width="80%" height="80%">
            </div>
            <div class="column">
              <img src="/images/rails.png" alt="rails" width="80%" height="80%">
            </div>
            <div class="column mr-0.5">
              <img src="/images/docker.png" alt="docker" width="100%">
            </div>
            <div class="column">
              <img src="/images/kuberneteslogo.png" alt="kubernetes" width="100%" height="82%">
            </div>
            <div class="column">
              <img src="/images/mysql.png" alt="mysql" width="100%" height="120%">
            </div>
            <div class="column">
              <img src="/images/redis.png" alt="redis" width="100%">
            </div>

          </div>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body1 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body2 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body3 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body4 %>
          </p>

          <div class="follow-btn-about mt-4">
            <a href="https://github.com/rubykube" target="_blank" class="btn btn-primary mr-3">
              <i class="icon icon-github-circled"></i>RubyKube Github
            </a>

            <a href="https://github.com/rubykube/peatio/tree/master/docs" class="btn btn-primary mr-3" target="_blank">Documentation</a>
            <a href="https://discuss.rubykube.io/" class="btn btn-primary mr-3" target="_blank">Discussion</a>
          </div>
        </div>

        <div class="row"> 
          <div class="col-md-12 col-lg-12">
            <hr style="width:40%; background-color:#ccc !important; height:0.1px;"/>
          </div>
        </div>
        <div class="row justify-content-center home-page-title">
            <h1 class="mt-5">Looking for an enterprise solution?</h1>
            <h2 class="mt-2">
            <%= data.i18n.en.sections.about.subtitle3 %>
            </h2>
        </div>
        <div class="row home-page-body">
          <div class="col-md-6">
              <img src="/images/chart.png" width="100%">
          </div>
          <div class="col-md-6">
              <div>
                <p>
                  <%= data.i18n.en.sections.about.section %>
                </p>    
              </div>
              <div class="follow-btn-about">
                <a href="https://peatio.tech/#/" class="btn btn-primary mr-3">Get a quotation</a>
                <a href="#team" class="btn btn-primary mr-3">Meet the team</a>
              </div>
            </div>            
        </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex d-column section-scroll" id="components" data-nav-color="yellow">
      <div class="my-auto">
          <h2 class="mb-5" id="projects">
            <%= data.i18n.en.sections.components.title %>
          </h2>
          <ul class="list">
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/peatio" target="_blank">
                        <img src="/images/test-img/blackpeatio.png" alt="peatio" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.peatio.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.peatio.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.peatio.summary %>
                    </p>                    
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/peatio" target="_blank" class="btn btn-primary btn-yellow">
                      <i class="icon icon-github-circled"></i>Peatio Github
                    </a>
                  </div>                              
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/barong" target="_blank">
                        <img src="/images/test-img/blackbarong.png" alt="barong" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.barong.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.barong.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.barong.summary %>
                    </p>
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/barong" target="_blank" class="btn btn-primary btn-yellow">
                    <i class="icon icon-github-circled"></i>Barong Github
                    </a>
                  </div>              
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/workbench" target="_blank">
                      <img src="/images/test-img/blackworkbench.png" alt="workbench" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.workbench.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.workbench.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.workbench.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/workbench" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Workbench Github
                  </a>
                </div> 
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/kite" target="_blank">
                      <img src="images/test-img/blackkite.png" alt="kite" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.kite.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.kite.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.kite.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/kite" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Kite Github
                  </a>
                </div> 
              </div>
            </li>
        </ul>          
      </div>
    </section>      

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="features" data-nav-color="green">
      <div class="my-auto">
        <h2 class="mb-5" id="feature"><%= data.i18n.en.sections.features.title %></h2>

        <div class="row">

          <div class="col-md-6">

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.left.each do |item| %>
                <li>
                  <i class="fa-li fa fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>
          
          <div class="col-md-6">

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.right.each do |item| %>
                <li>
                  <i class="fas fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

        <div class="container-fluid  text-center ">
            <h3 class="mb-4 mt-3">
              <%= data.i18n.en.sections.features.subtitle %>
            </h3>

            <div id="carouselSlide" class="carousel slide" data-ride="carousel" data-interval="9000">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                
                    <div class="carousel-item col-md-3  active imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <img class="img-fluid mx-auto d-block" src="images/Icons/BCH.svg" width=50>
                            <h4 mt-1>BCH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/BNB.svg" width=50>
                              <h4 mt-1>BNB</h4>
                            </a>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/BTC.svg" width=50>
                              <h4 mt-1>BTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                        <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/DASH.svg" width=50>
                              <h4 mt-1>DASH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/ETH.svg" width=50>
                              <h4 mt-1>ETH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/LTC.svg" width=50>
                              <h4 mt-1>LTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/MKR.svg" width=50>
                              <h4 mt-1>MKR</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/OMG.svg" width=50>
                              <h4 mt-1>OMG</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/TRX.svg" width=50>
                              <h4 mt-1>TRX</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/VEN.svg" width=50>
                              <h4 mt-1>VEN</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/XRP.svg" width=50>
                              <h4 mt-1>XRP</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/ZRX.svg" width=50>
                              <h4 mt-1>ZRX</h4>
                          </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


      </div>
    </section>
<!--
    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="blog" data-nav-color="red">
      <div class="my-auto">
        <h2 class="mb-5" id="blog">
          <%= data.i18n.en.sections.blog.title %>
        </h2>
        <div class="row">
          <article class="col-sm-12 col-md-6">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if i == 0 %>
                  <header>
                    <img class="post-image" src="<%= article.data.thumbnail_image %>">
                    <h2 class="main-post-title">
                      <span id="title-post"><%= link_to article.title, article %></span>
                    </h2>
                    <span class="main-post-category">
                      <%= article.data.category %> |
                    </span>
                    <span class="main-post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                <div class="post-body"><%= article.summary(300, '...') %></div>
              <% end %>
            <% end %>
          </article>
          <article class="col-sm-12 col-md-5">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if (i > 0) && (i < 3) %>
                <div class="main-blog-post">
                  <header>
                    <h2 class="post-title">
                      <span id="title-post"><%= link_to article.title, article %></span>
                    </h2>
                    <span class="main-post-category">
                      <%= article.data.category %> |
                    </span>
                    <span class="post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                  <div class="post-body"><%= article.summary(140, '...') %></div>
                </div>
              <% end %>
              <% if (i == 3) %>
                  <div class="main-blog-post__last">
                    <header>
                      <h2 class="post-title"><%= link_to article.title, article %></h2>
                      <span class="main-post-category">
                        <%= article.data.category %> |
                      </span>
                      <span class="post-date">
                        <%= article.date.strftime('%b %e, %Y') %>
                      </span>
                    </header>
                    <div class="post-body"><%= article.summary(140, '...') %></div>
                  </div>
              <% end %>
            <% end %>
          </article>
        </div>
        

        <div class="row">
          <div class="col-sm-12 btn-blog-block">
            <a href="/blog" class="btn btn-primary btn-main-blog btn-blue">MORE POSTS</a>
          </div>
        </div>
      </div>
    </section>
-->
    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="team" data-nav-color="yellow">
      <div class="my-auto">
        <h2 class="mb-5" id="team-item">
          <%= data.i18n.en.sections.team.title %>
        </h2>

        <div class="row">
          <div class="col-6">
            <div class="subheading mb-3">
              <%= data.i18n.en.sections.team.subheading %>
            </div>

            <ul class="fa-ul mb-3" id="team-item">
              <% data.i18n.en.sections.team.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>
          
          <div class="col-6">
            <div class="subheading mb-3" id="team-item">
              <%= data.i18n.en.sections.team.workflow.title %>
            </div>

            <ul class="fa-ul mb-0" id="team-item">
              <% data.i18n.en.sections.team.workflow.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="followus" data-nav-color="red">
      <div class="my-auto">
          <h2 class="mb-5" id="follow">
            <%= data.i18n.en.sections.contact.title %>
          </h2>

        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="follow-info">
              <p>We want to make it super-easy for Peatio users and contributors to talk to us and connect with each other, to share ideas, solve problems and help make Peatio awesome. Here are the main channels we're running currently, we'd love to hear from you on one of them</p>
            </div>
          </div>          
          <div class="col-sm-12 col-md-1">
            <div class="line"></div>
          </div>
          <div class="col-sm-12 col-md-5">         
            <div class="follow-block">
              <p> You can find guides, recipes, questions, and answers from Snowplow users including the Rubykube team.</p>
              <div id="follow-btn">
                <a href="http://discuss.rubykube.io" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:12px;width:140px;background:#EE4D3E;box-shadow:1px 1px 5px #F48F86;color:#212529;border-radius:34px;" title="discuss">discuss.rubykube.io</a>
              </div>
            </div>

            <div class="follow-block">
              <p>Chat with us and other community members on Telegram.</p>
              <div id="follow-btn">
                <a href="https://telegram.im/@Peatio" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:12px;width:118px;background:#ffd966;box-shadow:1px 1px 5px #ffd966;color:#212529;border-radius:34px;" title="peatio"><i></i> t.me/peatio</a>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </section>

<img src="images/scrollup.png";
<a href="#" class="scrollup"></a>
