---
pageable: true
per_page: 10
---

<div id="page-top">
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about" data-nav-color="red">
      <div class="my-auto">
        <h1 class="mb-0">Ruby<span class="text-primary">Kube</span></h1>

        <div class="subheading mb-3"><%= data.i18n.en.sections.about.subtitle %></div>
        <p><%= data.i18n.en.sections.about.body %></p>

        <ul class="list-inline list-social-icons mt-4 mb-3">
          <li class="list-inline-item">
            <a class="square bg-github" href="https://github.com/rubykube" target="blank">
              <i class="icon icon-github-circled"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="square bg-telegram" href="https://t.me/peatio" target="blank">
              <i class="icon icon-telegram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="square bg-slack" href="https://rubykube.slack.com" target="blank">
              <i class="icon icon-slack"></i>
            </a>
          </li>
        </ul>
        <a href="#" class="btn btn-primary text-uppercase mr-3">Documentation</a>
        <a href="https://discuss.rubykube.io/" class="btn btn-primary text-uppercase" target="_blank">Discussion</a>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="components" data-nav-color="green">
      <div class="my-auto">
        <h2 class="mb-5">
          <%= data.i18n.en.sections.components.title %>
        </h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">
              <%= data.i18n.en.sections.components.peatio.title %>
            </h3>

            <div class="subheading mb-3">
              <%= data.i18n.en.sections.components.peatio.subtitle %>
            </div>

            <p>
              <%= data.i18n.en.sections.components.peatio.summary %>
            </p>

            <a href="https://github.com/rubykube/peatio" target="_blank" class="btn btn-primary"><i class="icon-github"></i> Peatio Github</a>
          </div>
          <div class="resume-date text-md-right">
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">
              <%= data.i18n.en.sections.components.barong.title %>
            </h3>

            <div class="subheading mb-3">
              <%= data.i18n.en.sections.components.barong.subtitle %>
            </div>

            <p>
              <%= data.i18n.en.sections.components.barong.summary %>
            </p>

            <a href="https://github.com/rubykube/barong" target="_blank" class="btn btn-primary"><i class="icon-github"></i>Barong Github</a>
          </div>
          <div class="resume-date text-md-right">
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">
              <%= data.i18n.en.sections.components.kite.title %>
            </h3>

            <div class="subheading mb-3">
              <%= data.i18n.en.sections.components.kite.subtitle %>
            </div>

            <p>
              <%= data.i18n.en.sections.components.kite.summary %>
            </p>

            <a href="https://github.com/rubykube/kite" target="_blank" class="btn btn-primary"><i class="icon-github"></i>Kite Github</a>
          </div>
          <div class="resume-date text-md-right">
          </div>
        </div>

      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="features" data-nav-color="blue">
      <div class="my-auto">
        <h2 class="mb-5"><%= data.i18n.en.sections.features.title %></h2>

        <div class="row">
          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div><i class="display-4 icon-lock mr-2"></i></div>
                  <div>
                    <h3 class="mb-0 mt-2">
                      <%= data.i18n.en.sections.features.security.title %>
                    </h3>
                    <div>
                      <%= data.i18n.en.sections.features.security.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <i class="display-4 icon-cog mr-2"></i>
                  </div>
                  <div>
                    <h3 class="mb-0 mt-2">
                      <%= data.i18n.en.sections.features.customization.title %>
                    </h3>
                    <div>
                      <%= data.i18n.en.sections.features.customization.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <i class="display-4 icon-desktop mr-2"></i>
                  </div>
                  <div>
                    <h3 class="mb-0 mt-2">
                      <%= data.i18n.en.sections.features.frontend.title %>
                    </h3>
                    <div>
                      <%= data.i18n.en.sections.features.frontend.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <i class="display-4 icon-fire mr-2"></i>
                  </div>
                  <div>
                    <h3 class="mb-0">
                      <%= data.i18n.en.sections.features.coins.title %>
                    </h3>
                    <div>
                      <%= data.i18n.en.sections.features.coins.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <i class="display-4 icon-key mr-2"></i>
                  </div>
                  <div>
                    <h3 class="mb-0 mt-2">
                      <%= data.i18n.en.sections.features.tokens.title %>
                    </h3>
                    <div>
                      <%= data.i18n.en.sections.features.tokens.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <i class="display-4 icon-comment mr-2"></i>
                  </div>
                  <div>
                    <h3 class="mb-0 mt-2">
                      <%= data.i18n.en.sections.features.support.title %>
                    </h3>
                    <div>
                      <%= data.i18n.en.sections.features.support.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="team" data-nav-color="yellow">
      <div class="my-auto">
        <h2 class="mb-5">
          <%= data.i18n.en.sections.team.title %>
        </h2>

        <div class="subheading mb-3">
          <%= data.i18n.en.sections.team.subheading %>
        </div>
        <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicons devicons-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-css3"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-javascript"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-jquery"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-less"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-grunt"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-gulp"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">
          <%= data.i18n.en.sections.team.workflow.title %>
        </div>

        <ul class="fa-ul mb-0">
          <% data.i18n.en.sections.team.workflow.list.each do |item| %>
            <li>
              <i class="fa-li fa fa-check"></i>
              <%= item %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="newsletter" data-nav-color="green">
      <div class="my-auto">
        <div class="row">
          <div class="col-md-4">
            <h2 class="mb-5">
              <%= data.i18n.en.sections.contact.title %>
            </h2>
            <p>Subscribe to our newsletter to get informed on any update</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="E-mail">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
