---
pageable: true
per_page: 10
---

<div id="page-top">
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex d-column section-scroll" id="about" data-nav-color="red">
      <div class="my-auto">
        <h1 class="mb-0">Ruby<span class="text-primary">Kube</span></h1>

        <div class="subheading mb-3"><%= data.i18n.en.sections.about.subtitle %></div>
        <p class="p-text"><%= data.i18n.en.sections.about.body %></p>

        <ul class="list-inline list-social-icons mt-4 mb-3 class="tooltip">
          <li class="list-inline-item tooltip">
            <span class="tooltiptext">Github</span>
            <a class="square bg-github" href="https://github.com/rubykube" target="blank">
              <i class="icon icon-github-circled"></i>
            </a>
          </li>
          <li class="list-inline-item tooltip">
            <span class="tooltiptext">Telegram</span>
            <a class="square bg-telegram" href="https://t.me/peatio" target="blank">
              <i class="icon icon-telegram"></i>
            </a>
          </li>
          <li class="list-inline-item tooltip">
            <span class="tooltiptext">Reddit</span>
            <a class="square bg-reddit-squared" href="https://reddit.com/r/rubykube/" target="blank">
              <i class="icon icon-reddit-squared"></i>
            </a>
          </li>
          <li class="list-inline-item tooltip">
            <span class="tooltiptext">Youtube</span>
          <a class="square bg-youtube" href="https://www.youtube.com/channel/UCGrRNy-EpI67ivdAL5z4JIg/featured" target="blank">
            <i class="icon icon-youtube"></i>
          </a>
        </li>
        </ul>
        <a href="#" class="btn btn-primary text-uppercase mr-3">Documentation</a>
        <a href="https://discuss.rubykube.io/" class="btn btn-primary text-uppercase" target="_blank">Discussion</a>      </div>
    </section>  

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="components" data-nav-color="yellow">
      <div class="my-auto">
          <h2 class="mb-5">
            <%= data.i18n.en.sections.components.title %>
          </h2>
          
        <div class="row">

          <div class="col-md-6">
          
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex align-items-center">

                  <div>
                    <a href="https://github.com/rubykube/peatio" target="_blank">
                      <img src="/images/test-img/blackpeatio.png" alt="peatio" width="100px">
                    </a>
                  </div>

                  <div>
                    <h3 class="mb-0">
                      <%= data.i18n.en.sections.components.peatio.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.peatio.subtitle %>
                    </div>
                  </div>

                </div>

                <div class="d-flex">
                  <p>
                    <%= data.i18n.en.sections.components.peatio.summary %>
                  </P>
                </div>

                <div class="d-flex">
                  <a href="https://github.com/rubykube/peatio" target="_blank" class="btn btn-primary btn-yellow">
                    <i class="icon icon-github-circled"></i>Peatio Github
                  </a>
                </div>        
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex align-items-center">

                  <div>
                    <a href="https://github.com/rubykube/barong" target="_blank">
                      <img src="/images/test-img/blackbarong.png" alt="barong" width="100px">
                    </a>
                  </div>

                  <div>
                    <h3 class="mb-0">
                      <%= data.i18n.en.sections.components.barong.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.barong.subtitle %>
                    </div>
                  </div>

                </div>
                <div class="d-flex">
                  <p>
                    <%= data.i18n.en.sections.components.barong.summary %>
                  </P>
                </div>

                <div class="d-flex">
                  <a href="https://github.com/rubykube/barong" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Barong Github
                  </a>
                </div> 
              </div>
            </div>

          </div>

          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex align-items-center">

                  <div>
                    <a href="https://github.com/rubykube/workbench" target="_blank">
                      <img src="/images/test-img/blackworkbench.png" alt="workbench" width="100px">
                    </a>
                  </div>

                  <div>
                    <h3 class="mb-0">
                      <%= data.i18n.en.sections.components.workbench.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.workbench.subtitle %>
                    </div>
                  </div>

                </div>
                <div class="d-flex">
                  <p>
                    <%= data.i18n.en.sections.components.workbench.summary %>
                  </P>
                </div>

                <div class="d-flex">
                  <a href="https://github.com/rubykube/workbench" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Workbench Github
                  </a>
                </div> 
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex align-items-center">

                  <div>
                    <a href="https://github.com/rubykube/kite" target="_blank">
                      <img src="images/test-img/blackkite.png" alt="kite" width="100px">
                    </a>
                  </div>

                  <div>
                    <h3 class="mb-0">
                      <%= data.i18n.en.sections.components.kite.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.kite.subtitle %>
                    </div>
                  </div>

                </div>
                <div class="d-flex">
                  <p>
                    <%= data.i18n.en.sections.components.kite.summary %>
                  </P>
                </div>

                <div class="d-flex">
                  <a href="https://github.com/rubykube/kite" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Kite Github
                  </a>
                </div> 
              </div>
            </div>
          </div>
          
        </div>

      </div>
    </section>      

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="features" data-nav-color="green">
      <div class="my-auto">
        <h2 class="mb-5" id="feature"><%= data.i18n.en.sections.features.title %></h2>

        <div class="row">
          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <img class="imgFeature" src="images/icon-security.png" width=50>
                  </div>
                <div>
                    <h3 class="mb-0 mt-2">
                      <%= data.i18n.en.sections.features.security.title %>
                    </h3>
                    <div class="mlp">
                      <%= data.i18n.en.sections.features.security.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <img class="imgFeature" src="images/icon-cog.png" width=50>
                  </div>
                  <div>
                    <h3 class="mb-0 mt-2 ml-1">
                      <%= data.i18n.en.sections.features.customization.title %>
                    </h3>
                    <div class="mlp">
                      <%= data.i18n.en.sections.features.customization.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <img class="imgFeature" src="images/frontendimg.png" width=50>
                  </div>
                  <div>
                    <h3 class="mb-0 mt-2 ml-1">
                      <%= data.i18n.en.sections.features.frontend.title %>
                    </h3>
                    <div class="mlp">
                      <%= data.i18n.en.sections.features.frontend.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <div class="d-flex">
                  <div>
                    <img class="imgFeature" src="images/icon-comment.svg" width=50>
                  </div>
                  <div>
                    <h3 class="mb-0 mt-2">
                      <%= data.i18n.en.sections.features.support.title %>
                    </h3>
                    <div>
                      <%= data.i18n.en.sections.features.support.summary %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid  text-center ">
            <h3 class="mb-2 mt-2">
              <%= data.i18n.en.sections.features.subtitle %>
            </h3>

            <div id="carouselSlide" class="carousel slide" data-ride="carousel" data-interval="9000">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                
                    <div class="carousel-item col-md-3  active imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/btc.png">
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <img class="img-fluid mx-auto d-block" src="images/ltc.png">
                            </a>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <img class="img-fluid mx-auto d-block" src="images/eth.png">
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                        <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <img class="img-fluid mx-auto d-block" src="images/xpr.png">
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/dash.png">
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="blog" data-nav-color="red">
      <div class="my-auto">
        <h2 class="mb-5">
          <%= data.i18n.en.sections.blog.title %>
        </h2>
        <div class="row">
          <article class="col-sm-12 col-md-6">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if i == 0 %>
                  <header>
                    <img class="post-image" src="<%= article.data.thumbnail_image %>">
                    <h2 class="main-post-title">
                      <%= link_to article.title, article %>
                    </h2>
                    <span class="main-post-category">
                      <%= article.data.category %>
                    </span>
                    <span class="main-post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                <div class="post-body"><%= article.summary(300, '...') %></div>
              <% end %>
            <% end %>
          </article>
          <article class="col-sm-12 col-md-6">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if (i > 0) && (i < 3) %>
                <div class="main-blog-post">
                  <header>
                    <h2 class="post-title">
                      <%= link_to article.title, article %></h2>
                    <span class="main-post-category">
                      <%= article.data.category %> |
                    </span>
                    <span class="post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                  <div class="post-body"><%= article.summary(125, '...') %></div>
                </div>
              <% end %>
              <% if (i == 3) %>
                  <div class="main-blog-post__last">
                    <header>
                      <h2 class="post-title"><%= link_to article.title, article %></h2>
                      <span class="main-post-category">
                        <%= article.data.category %> |
                      </span>
                      <span class="post-date">
                        <%= article.date.strftime('%b %e, %Y') %>
                      </span>
                    </header>
                    <div class="post-body"><%= article.summary(125, '...') %></div>
                  </div>
              <% end %>
            <% end %>
          </article>
        </div>
        

        <div class="row">
          <div class="col-sm-12 btn-blog-block">
            <a href="/blog" target="_blank" class="btn btn-primary btn-main-blog btn-blue">MORE POSTS</a>
          </div>
        </div>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="team" data-nav-color="yellow">
      <div class="my-auto">
        <h2 class="mb-5">
          <%= data.i18n.en.sections.team.title %>
        </h2>

        <div class="row">

          <div class="col-6">
            <div class="subheading mb-3">
              <%= data.i18n.en.sections.team.subheading %>
            </div>

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.team.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>
          
          <div class="col-6">
            <div class="subheading mb-3">
              <%= data.i18n.en.sections.team.workflow.title %>
            </div>

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.team.workflow.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="followus" data-nav-color="red">
      <div class="my-auto">
          <h2 class="mb-5" id="follow">
            <%= data.i18n.en.sections.contact.title %>
          </h2>

        <div class="row">
          <div class="col-md-4">
            <h2 class="mb-5 mb-6">
              <%= data.i18n.en.sections.contact.title %>
            </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="follow-info">
              <p>We want to make it super-easy for Peatio users and contributors to talk to us and connect with each other, to share ideas, solve problems and help make Peatio awesome. Here are the main channels we're running currently, we'd love to hear from you on one of them</p>
            </div>
          </div>
          
          <div class="col-sm-12 col-md-1">
            <div class="line"></div>
          </div>

          <div class="col-sm-12 col-md-5">         
            <div class="follow-block">
              <p> You can find guides, recipes, questions, and answers from Snowplow users including the Rubykube team.</p>
              <div id="follow-btn">
                <a href="http://discuss.rubykube.io" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:12px;width:140px;background:#EE4D3E;box-shadow:1px 1px 5px #F48F86;color:#e0d8d8;border-radius:34px;" title="discuss">discuss.rubykube.io</a>
              </div>
            </div>

            <div class="follow-block">
              <p>Chat with us and other community members on Telegram.</p>
              <div id="follow-btn">
                <a href="https://telegram.im/@Peatio" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:12px;width:118px;background:#ffd966;box-shadow:1px 1px 5px #ffd966;color:#444444;border-radius:34px;" title="peatio"><i></i> t.me/peatio</a>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </section>

<img src="images/scrollup.png";
<a href="#" class="scrollup"></a>
