---
pageable: true
per_page: 10
---

<div id="page-top">
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-column section-scroll" id="about" data-nav-color="red">
      <div class="my-auto">
        <div class="container">
          <div class="row align-items-center home-page">
            <div class="col-md-4">
              <div class="row title-home">
                <img class="imglogo" src="images/android-chrome-192x192.png" alt="logo">
                <h1 class="titleR">Ruby<span class="text-primary">Kube</span></h1>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row icons-home">
              <p class="iconmargin">
                 <a class="github" href="https://github.com/rubykube" target="blank">
                  <i class="fab fa-github fa-lg i-head"></i><span class="tooltip">GitHub</span>
                 </a>

                 <a class="telegram" href="https://t.me/peatio" target="blank">
                  <i class="fab fa-telegram fa-lg i-head"></i><span class="tooltip">Telegram</span>
                </a>

                <a class="reddit" href="https://reddit.com/r/rubykube/" target="blank">
                  <i class="fab fa-reddit fa-lg i-head"></i><span class="tooltip">Reddit</span>
                </a>

                <a class="youtube" href="https://www.youtube.com/channel/UCGrRNy-EpI67ivdAL5z4JIg/featured" target="blank">
                  <i class="fab fa-youtube fa-lg i-head"></i><span class="tooltip">YouTube</span>
                </a>
              </p>
              </div>
            </div>
          </div>

          <div class="row justify-content-center home-page-title">
            <h1 class="mt-5 conten-size-home-main content-home-page">Welcome to RubyKube</h1>
            <h2 class="mt-2 conten-size-home-subtitle content-home-page" id="about">
            <%= data.i18n.en.sections.about.subtitle1 %>
            </h2>
          </div>

          <div class="clearfix">
            <div class="box">
              <p>
                <%= data.i18n.en.sections.about.body.part1 %>
              </p>
              <p>
                <%= data.i18n.en.sections.about.body.part2 %>
              </p>
              <p>
                <%= data.i18n.en.sections.about.body.part3 %>
              </p>
              <p>
                <%= data.i18n.en.sections.about.body.part4 %>
              </p>
            </div>

            <div class="box">
              <img class="logoandtext" src="images/logo.svg" width="300px">
            </div>
          </div>

          <div class="follow-btn-about">
            <a href="#developer" class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-1 btn btn-primary mr-3 js-scrollTo">Join us!</a>
            <a href="#enterprise" class="col-sm-4 col-md-3 col-lg-3 col-xl-2 btn btn-primary mr-3 js-scrollTo">Enterprise solutions</a>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12" id="developer">
              <hr style="width:40%; background-color:#ccc !important; height:0.1px;"/>
            </div>
          </div>

          <div class="row justify-content-center home-page-title">
            <h1 class="mt-5 conten-size-home-main content-home-page">Are you a developer?</h1>
            <h2 class="mt-2 conten-size-home-subtitle content-home-page">
            <%= data.i18n.en.sections.about.subtitle %>
            </h2>
          </div>

          <div class="row imgLogos mt-5">
            <div class="col-2">
              <a href="https://www.ruby-lang.org/en/" target="blank">
              <img src="/images/TechIcon/Ruby_logo.svg" alt="Developed using Ruby" width="50%">
              </a>
            </div>
            <div class="col-2">
              <a href="https://rubyonrails.org/" target="blank">
              <img src="/images/TechIcon/Rail.svg" alt="Developed using Ruby on Rails" width="50%">
              </a>
            </div>
            <div class="col-2">
              <a href="https://www.docker.com/" target="blank">
              <img src="/images/TechIcon/docker-official.svg" alt="Developed using Docker" width="70%">
              </a>
            </div>
            <div class="col-2">
              <a href ="https://kubernetes.io/" target="blank">
              <img src="/images/TechIcon/Kubernetes.svg" alt="Developed using Kubernetes" width="100%">
              </a>
            </div>
            <div class="col-2">
              <a href ="https://www.mysql.com/" target="blank">
              <img src="/images/TechIcon/mysql-official.svg" alt="Developed using MySQL" width="100%">
              </a>
            </div>
            <div class="col-2">
              <a href ="https://redis.io/" target="blank">
              <img src="/images/TechIcon/redis-official.svg" alt="Developed using Redis" width="100%">
              </a>
            </div>

          </div>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body1 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body2 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body3 %>
          </p>
          <p class="p-text" >
            <%= data.i18n.en.sections.about.body4 %>
          </p>

          <div class="follow-btn-about mt-4 row">
            <a href="https://github.com/rubykube" target="_blank" class="col-sm-4 col-md-3 col-lg-3 col-xl-3 mb-2 btn btn-primary mr-3">
              <i class="icon icon-github-circled"></i>RubyKube Github
            </a>

            <a href="https://github.com/rubykube/peatio/tree/master/docs" class="col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-2  btn btn-primary mr-3" target="_blank">Documentation</a>
            <a href="https://discuss.rubykube.io/" class="col-sm-4 col-md-3 col-lg-3 col-xl-2 btn btn-primary mr-3 mb-2 " target="_blank">Discussion</a>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12" id="enterprise">
              <hr style="width:80%; background-color:#ccc !important; height:0.1px;"/>
            </div>
          </div>

          <div class="row justify-content-center home-page-title">
              <h1 class="mt-5 conten-size-home-main content-home-page">Looking for an enterprise solution?</h1>
              <h2 class="mt-2 conten-size-home-subtitle content-home-page">
              <%= data.i18n.en.sections.about.subtitle3 %>
              </h2>
          </div>

          <div class="clearfix">
            <div class="box">
              <img class="logoandtext" src="/images/chart.png" width="100%">
            </div>
            <div class="box">
                  <p>
                    <%= data.i18n.en.sections.about.body5 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body6 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body7 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body8 %>
                  </p>
            </div>
          </div>

          <div class="follow-btn-about">
            <a href="mailto:hello@peatio.tech" class="btn btn-primary mr-3">Get a quotation</a>
            <a href="#team" class="btn btn-primary mr-3 js-scrollTo">Meet the team</a>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex d-column section-scroll" id="components" data-nav-color="yellow">
      <div class="my-auto">
          <div class="row justify-content-center">
            <h2 class="mb-5" id="projects">
              <%= data.i18n.en.sections.components.title %>
            </h2>
          </div>
          <ul class="list">
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/peatio" target="_blank">
                        <img src="/images/test-img/blackpeatio.png" alt="peatio" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.peatio.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.peatio.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.peatio.summary %>
                    </p>
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/peatio" target="_blank" class="btn btn-primary btn-yellow">
                      <i class="icon icon-github-circled"></i>Peatio Github
                    </a>
                  </div>
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/barong" target="_blank">
                        <img src="/images/test-img/blackbarong.png" alt="barong" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.barong.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.barong.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.barong.summary %>
                    </p>
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/barong" target="_blank" class="btn btn-primary btn-yellow">
                    <i class="icon icon-github-circled"></i>Barong Github
                    </a>
                  </div>
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/workbench" target="_blank">
                      <img src="/images/test-img/blackworkbench.png" alt="workbench" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.workbench.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.workbench.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.workbench.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/workbench" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Workbench Github
                  </a>
                </div>
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/kite" target="_blank">
                      <img src="images/test-img/blackkite.png" alt="kite" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.kite.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.kite.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.kite.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/kite" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Kite Github
                  </a>
                </div>
              </div>
            </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="features" data-nav-color="green">
      <div class="my-auto">
        <div class="row justify-content-center">
          <h2 class="mb-5" id="feature"><%= data.i18n.en.sections.features.title %></h2>
        </div>

        <div class="row ml-1">

          <div class="col-md-6">

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.left.each do |item| %>
                <li>
                  <i class="fa-li fa fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-6">

            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.right.each do |item| %>
                <li>
                  <i class="fa-li fa fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

        <div class="container-fluid  text-center ">
            <h3 class="mb-4 mt-3">
              <%= data.i18n.en.sections.features.subtitle %>
            </h3>

            <div id="carouselSlide" class="carousel slide" data-ride="carousel" data-interval="9000">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">

                    <div class="carousel-item col-md-3  active imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <img class="img-fluid mx-auto d-block" src="images/Icons/BCH.svg" width=50>
                            <h4 mt-1>BCH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/BNB.svg" width=50>
                              <h4 mt-1>BNB</h4>
                            </a>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/BTC.svg" width=50>
                              <h4 mt-1>BTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                        <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/DASH.svg" width=50>
                              <h4 mt-1>DASH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/ETH.svg" width=50>
                              <h4 mt-1>ETH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/LTC.svg" width=50>
                              <h4 mt-1>LTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/MKR.svg" width=50>
                              <h4 mt-1>MKR</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/OMG.svg" width=50>
                              <h4 mt-1>OMG</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/TRX.svg" width=50>
                              <h4 mt-1>TRX</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/VEN.svg" width=50>
                              <h4 mt-1>VEN</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/XRP.svg" width=50>
                              <h4 mt-1>XRP</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" src="images/Icons/ZRX.svg" width=50>
                              <h4 mt-1>ZRX</h4>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="blog" data-nav-color="red">
      <div class="my-auto">
        <div class="row justify-content-center">   
          <h2 class="mb-5" id="blog">
            <%= data.i18n.en.sections.blog.title %>
          </h2>
        </div>
        <div class="row">
          <article class="col-sm-12 col-md-6">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if i == 0 %>
                  <header>
                    <img class="post-image" src="<%= article.data.thumbnail_image %>">
                    <h2 class="main-post-title">
                      <span id="title-post"><%= link_to article.title, article %></span>
                    </h2>
                    <span class="main-post-category">
                      <%= article.data.category %> |
                    </span>
                    <span class="main-post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                <div class="post-body"><%= article.summary(300, '...') %></div>
              <% end %>
            <% end %>
          </article>
          <article class="col-sm-12 col-md-5">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if (i > 0) && (i < 3) %>
                <div class="main-blog-post">
                  <header>
                    <h2 class="post-title">
                      <span id="title-post"><%= link_to article.title, article %></span>
                    </h2>
                    <span class="main-post-category">
                      <%= article.data.category %> |
                    </span>
                    <span class="post-date">
                      <%= article.date.strftime('%b %e, %Y') %>
                    </span>
                  </header>
                  <div class="post-body"><%= article.summary(140, '...') %></div>
                </div>
              <% end %>
              <% if (i == 3) %>
                  <div class="main-blog-post__last">
                    <header>
                      <h2 class="post-title"><%= link_to article.title, article %></h2>
                      <span class="main-post-category">
                        <%= article.data.category %> |
                      </span>
                      <span class="post-date">
                        <%= article.date.strftime('%b %e, %Y') %>
                      </span>
                    </header>
                    <div class="post-body"><%= article.summary(140, '...') %></div>
                  </div>
              <% end %>
            <% end %>
          </article>
        </div>


        <div class="row">
          <div class="col-sm-12 btn-blog-block">
            <a href="/blog" class="btn btn-primary btn-main-blog btn-blue">MORE POSTS</a>
          </div>
        </div>
      </div>
    </section>


    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="technology" data-nav-color="blue">
      <div class="my-auto">
        <div class="row justify-content-center">
          <h2 class="mb-5" id="team-item">
            <%= data.i18n.en.sections.technology.title %>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="subheading mb-3">
              <%= data.i18n.en.sections.technology.subheading %>
            </div>

            <ul class="fa-ul mb-3" id="team-item">
              <% data.i18n.en.sections.technology.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-6">
            <div class="subheading mb-3" id="team-item">
              <%= data.i18n.en.sections.technology.workflow.title %>
            </div>

            <ul class="fa-ul mb-3" id="team-item">
              <% data.i18n.en.sections.technology.workflow.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="team" data-nav-color="red">
      <div class="my-auto">
        <div class="row justify-content-center">
          <h2 class="mb-5" id="team-item">
            <%= data.i18n.en.sections.team.title %>
          </h2>
        </div>

          <h1 class="my-4 text-center text-lg-left">Our Team</h1>
                
          <div class="row teammates text-center text-lg-left" id="gravatar"></div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="followus" data-nav-color="yellow">
      <div class="my-auto">
        <div>
          <h2 class="mb-5 text-center" id="follow">
            <%= data.i18n.en.sections.contact.title %>
          </h2>
          <p class="mb-5">
            <%= data.i18n.en.sections.contact.text1 %>
          </p>
          <h4 class="mb-5 text-center">
            Communications
          </h4>
          <p class="mb-5">
            <%= data.i18n.en.sections.contact.text2 %>
          </p>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-github fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
             <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.github %>
             </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="https://github.com/rubykube" target="_blank" class="btn btn-dark btn-block align-self-center">GitHub branch</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-telegram fa-6x telegram align-self-center"></i>
          </div>          
          <div class="col-sm-12 col-md-7 d-flex">
             <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.telegram %>
             </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="https://telegram.im/@Peatio" target="_blank" class="btn btn-primary btn-blue btn-block align-self-center">Telegram channel</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <img src="images/logo.svg" class="align-self-center" alt="Rubykube" width=95>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.Rubykube %>
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://discuss.rubykube.io" target="_blank" class="btn btn-secondary btn-block align-self-center">Snowplow board</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-reddit reddit fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.reddit %>
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://reddit.com/r/rubykube/" target="_blank" class="btn btn-primary btn-block align-self-center">Reddit forum</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-youtube youtube fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.youtube %>
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://www.youtube.com/channel/UCGrRNy-EpI67ivdAL5z4JIg/featured" target="_blank" class="btn btn-primary btn-block align-self-center">YouTube channel</a>
          </div>
        </div>

      </div>
    </section>

<a href="#" class="scrollup">
  <img src="images/scrollup.png">
</a>
