---
pageable: true
per_page: 10
---

<div id="page-top">
  <div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-column section-scroll" id="about" data-nav-color="red">
      <div class="my-auto">
        <div class="container">
          <div class="row align-items-center home-page">
            <div class="col-md-3">
              <div class="row title-home">
                <img class="imglogo" draggable="false" src="images/android-chrome-192x192.png" alt="logo">
                <h1 class="titleR">Ruby<span class="text-primary">Kube</span></h1>
              </div>
            </div>
            <div class="col-md-9 pr-4">
              <div class="row icons-home ">
              <p class="iconmargin">
                 <a class="github" href="https://github.com/rubykube" target="blank">
                  <i class="fab fa-github fa-lg i-head"></i>
                 </a>

                 <a class="telegram" href="https://t.me/peatio" target="blank">
                  <i class="fab fa-telegram fa-lg i-head"></i>
                </a>

                <a class="reddit" href="https://reddit.com/r/rubykube/" target="blank">
                  <i class="fab fa-reddit fa-lg i-head"></i>
                </a>

                <a class="youtube" href="https://www.youtube.com/c/rubykube" target="blank">
                  <i class="fab fa-youtube fa-lg i-head"></i>
                </a>

                <a class="discuss" href="https://discuss.rubykube.io/" target="blank">
                  <i class="fab fa-lg">
                    <svg width="30" height="34" viewBox="0 0 674 786" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M505.384 300.38V494.443L674 397.412V202.885L505.384 300.38Z" fill="#218939"/>
                      <path d="M336.768 397.411L168.616 494.442L336.768 591.938L505.384 494.442L336.768 397.411Z" fill="#7AAEF9"/>
                      <path d="M336.768 202.885V397.412L505.384 494.443V300.38L336.768 202.885Z" fill="#35A753"/>
                      <path d="M505.384 105.851L336.768 202.882L505.384 300.378L674 202.882L505.384 105.851Z" fill="#69BC7D"/>
                      <path d="M336.768 8.8208L168.616 105.852L336.768 202.883L505.384 105.852L336.768 8.8208Z" fill="#F4645D"/>
                      <path d="M168.616 105.851L0 202.882L168.616 300.378L336.768 202.882L168.616 105.851Z" fill="#FCCF5E"/>
                      <path d="M168.616 300.38V494.443L336.768 397.412V202.885L168.616 300.38Z" fill="#E0A205"/>
                      <path d="M0 202.885V397.412L168.616 494.443V300.38L0 202.885Z" fill="#FCBB05"/>
                      <path d="M168.616 494.441V688.968L336.768 786V591.937L168.616 494.441Z" fill="#4285F4"/>
                      <path d="M336.768 591.937V786L505.384 688.968V494.441L336.768 591.937Z" fill="#296ED3"/>
                      <path d="M0 397.411V591.938L168.616 688.969V494.442L0 397.411Z" fill="#EB4336"/>
                      <path d="M674 397.411L505.384 494.442V688.969L674 591.938V397.411Z" fill="#E0A205"/>
                    </svg>
                  </i>
                </a>
              </p>
              </div>
            </div>
          </div>

          <div class="row home-page-title">
            <h1 class="mt-5 conten-size-home-main">Welcome to RubyKube</h1>
            <h2 class="mt-2 conten-size-home-subtitle" id="about">
            <%= data.i18n.en.sections.about.subtitle1 %>
            </h2>
          </div>

          <div class="clearfix row">
            <div class="box">
              <p>
                <%= data.i18n.en.sections.about.body.part1 %>
              </p>
              <p>
                <%= data.i18n.en.sections.about.body.part2 %>
              </p>
              <p>
                <%= data.i18n.en.sections.about.body.part3 %>
              </p>
              <p>
                <%= data.i18n.en.sections.about.body.part4 %>
              </p>
            </div>
            <div class="box ml-3 ml-md-auto">
              <img class="logoandtext" draggable="false" src="images/placeholder-cube-logo.png" height="100%" weight="100%" >
            </div>
          </div>

          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#developer" class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-1 btn btn-primary mr-3 js-scrollTo">Join us!</a>
            <a href="#enterprise" class="col-sm-4 col-md-3 col-lg-4 col-xl-2 btn btn-primary mr-3 js-scrollTo">Enterprise solutions</a>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12 mt-4" id="developer">
              <hr style="width:20%; background-color:#ccc !important; height:0.1px;"/>
            </div>
          </div>

          <div class="row home-page-title">
            <h1 class="mt-5 conten-size-home-main">Are you a developer?</h1>
            <h2 class="mt-2 conten-size-home-subtitle">
            <%= data.i18n.en.sections.about.subtitle %>
            </h2>
          </div>

          <div class="row imgLogos mt-5">
            <div class="col-4 col-sm-2">
              <a href="https://www.ruby-lang.org/en/" target="blank">
              <img src="/images/TechIcon/Ruby_logo.svg" draggable="false" alt="Developed using Ruby" width="50%">
              </a>
            </div>
            <div class="col-4 col-sm-2">
              <a href="https://rubyonrails.org/" target="blank">
              <img src="/images/TechIcon/Rail.svg" draggable="false" alt="Developed using Ruby on Rails" width="50%">
              </a>
            </div>
            <div class="col-4 col-sm-2">
              <a href="https://www.docker.com/" target="blank">
              <img src="/images/TechIcon/docker-official.svg" draggable="false" alt="Developed using Docker" width="70%">
              </a>
            </div>
            <div class="col-4 col-sm-2 mt-4 mt-sm-0">
              <a href ="https://kubernetes.io/" target="blank">
              <img src="/images/TechIcon/Kubernetes.svg" draggable="false" alt="Developed using Kubernetes" width="100%">
              </a>
            </div>
            <div class="col-4 col-sm-2 mt-4 mt-sm-0">
              <a href ="https://www.mysql.com/" target="blank">
              <img src="/images/TechIcon/mysql-official.svg" draggable="false" alt="Developed using MySQL" width="100%">
              </a>
            </div>
            <div class="col-4 col-sm-2 mt-4 mt-sm-0">
              <a href ="https://redis.io/" target="blank">
              <img src="/images/TechIcon/redis-official.svg" draggable="false" alt="Developed using Redis" width="100%">
              </a>
            </div>
          </div>
          <div class="row mt-5">
            <p>
              <%= data.i18n.en.sections.about.body1 %>
            </p>
            <p>
              <%= data.i18n.en.sections.about.body2 %>
            </p>
            <p>
              <%= data.i18n.en.sections.about.body3 %>
            </p>
            <p>
              <%= data.i18n.en.sections.about.body4 %>
            </p>
          </div>

          <div class="d-flex mt-4 row justify-content-center justify-content-lg-start">
            <a href="https://github.com/rubykube" target="_blank" class="col-sm-4 col-md-3 col-lg-4 col-xl-2 mb-2 btn btn-primary mr-3">
              <i class="icon icon-github-circled"></i>RubyKube Github
            </a>
            <a href="https://github.com/rubykube/peatio/tree/master/docs" class="col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-2  btn btn-primary mr-3" target="_blank">Documentation</a>
            <a href="https://discuss.rubykube.io/" class="col-sm-4 col-md-2 col-lg-2 col-xl-2 btn btn-primary mr-3 mb-2 " target="_blank">Discussion</a>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12 mt-4" id="enterprise">
              <hr style="width:20%; background-color:#ccc !important; height:0.1px;"/>
            </div>
          </div>

          <div class="row home-page-title">
              <h1 class="mt-5 conten-size-home-main">Looking for an enterprise solution?</h1>
              <h2 class="mt-2 conten-size-home-subtitle">
              <%= data.i18n.en.sections.about.subtitle3 %>
              </h2>
          </div>

          <div class="clearfix">
            <div class="box">
                  <p>
                    <%= data.i18n.en.sections.about.body5 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body6 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body7 %>
                  </p>
                  <p>
                    <%= data.i18n.en.sections.about.body8 %>
                  </p>
            </div>
            <div class="box pl-0 pl-md-3">
              <img class="logoandtext" src="/images/graphics.webp" width="100%">
            </div>
          </div>

          <div class="d-flex mt-4 mt-lg-0 justify-content-center justify-content-lg-start">
            <a href="https://peatio.tech/#pricing"  target="blank" class="btn btn-primary mr-3">Get a quotation</a>
            <a href="#team" class="btn btn-primary mr-3 js-scrollTo">Meet the team</a>
          </div>

        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex d-column flex-column section-scroll" id="components" data-nav-color="yellow">
      <div class="my-auto">
          <div class="row pl-xl-5">
            <h1 class="mb-5" id="projects">
              <%= data.i18n.en.sections.components.title %>
            </h1>
          </div>
          <ul class="list pl-xl-5">
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/peatio" target="_blank">
                        <img src="/images/test-img/blackpeatio.png" draggable="false" alt="peatio" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.peatio.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.peatio.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.peatio.summary %>
                    </p>
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/peatio" target="_blank" class="btn btn-primary btn-yellow">
                      <i class="icon icon-github-circled"></i>Peatio Github
                    </a>
                  </div>
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                  <div class="d-flex title-logo">
                    <div class="imgProject">
                      <a href="https://github.com/rubykube/barong" target="_blank">
                        <img src="/images/test-img/blackbarong.png" draggable="false" alt="barong" width="100px">
                      </a>
                    </div>
                    <div>
                      <h3 class="mb-0" id="sub">
                        <%= data.i18n.en.sections.components.barong.title %>
                      </h3>
                      <div class="subheading mb-3">
                        <%= data.i18n.en.sections.components.barong.subtitle %>
                      </div>
                    </div>
                  </div>
                  <div class="text">
                    <p>
                      <%= data.i18n.en.sections.components.barong.summary %>
                    </p>
                  </div>
                  <div class="d-flex">
                    <a href="https://github.com/rubykube/barong" target="_blank" class="btn btn-primary btn-yellow">
                    <i class="icon icon-github-circled"></i>Barong Github
                    </a>
                  </div>
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/workbench" target="_blank">
                      <img src="/images/test-img/blackworkbench.png" draggable="false" alt="workbench" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.workbench.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.workbench.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.workbench.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/workbench" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Workbench Github
                  </a>
                </div>
              </div>
            </li>
            <li class="list-item resume-item d-flex flex-column flex-md-row mb-5">
              <div class="list-content resume-content mr-auto">
                <div class="d-flex title-logo">
                  <div class="imgProject">
                    <a href="https://github.com/rubykube/kite" target="_blank">
                      <img src="images/test-img/blackkite.png" draggable="false" alt="kite" width="100px">
                    </a>
                  </div>
                  <div>
                    <h3 class="mb-0" id="sub">
                      <%= data.i18n.en.sections.components.kite.title %>
                    </h3>
                    <div class="subheading mb-3">
                      <%= data.i18n.en.sections.components.kite.subtitle %>
                    </div>
                  </div>
                </div>
                <div class="text">
                  <p>
                    <%= data.i18n.en.sections.components.kite.summary %>
                  </p>
                </div>
                <div class="d-flex">
                  <a href="https://github.com/rubykube/kite" target="_blank" class="btn btn-primary btn-yellow">
                  <i class="icon icon-github-circled"></i>Kite Github
                  </a>
                </div>
              </div>
            </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="features" data-nav-color="green">
      <div class="my-auto">
        <div class="row pl-sm-3 pl-xl-5">
          <h1 class="mb-5" id="feature"><%= data.i18n.en.sections.features.title %></h1>
        </div>

        <div class="row pl-3 pl-xl-5">
          <div class="col-md-6">
            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.left.each do |item| %>
                <li>
                  <i class="fa-li fa fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="fa-ul mb-0">
              <% data.i18n.en.sections.features.list.right.each do |item| %>
                <li>
                  <i class="fa-li fa fa-circle"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

        <div class="container-fluid text-center mt-5">
            <h1 class="row pl-sm-3 pl-xl-5 mb-4 mt-3">
              <%= data.i18n.en.sections.features.subtitle %>
            </h1>

            <div id="carouselSlide" class="carousel slide" data-ride="carousel" data-interval="9000">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">

                    <div class="carousel-item col-md-3  active imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                            <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/BCH.svg" width=50>
                            <h4 mt-1>BCH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/BNB.svg" width=50>
                              <h4 mt-1>BNB</h4>
                            </a>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/BTC.svg" width=50>
                              <h4 mt-1>BTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                        <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/DASH.svg" width=50>
                              <h4 mt-1>DASH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/ETH.svg" width=50>
                              <h4 mt-1>ETH</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/LTC.svg" width=50>
                              <h4 mt-1>LTC</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/MKR.svg" width=50>
                              <h4 mt-1>MKR</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/OMG.svg" width=50>
                              <h4 mt-1>OMG</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/TRX.svg" width=50>
                              <h4 mt-1>TRX</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/VEN.svg" width=50>
                              <h4 mt-1>VEN</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/XRP.svg" width=50>
                              <h4 mt-1>XRP</h4>
                          </div>
                        </div>
                    </div>

                    <div class="carousel-item col-md-3 imgFeature">
                      <div class="panel panel-default">
                          <div class="panel-thumbnail">
                              <img class="img-fluid mx-auto d-block" draggable="false" src="images/Icons/ZRX.svg" width=50>
                              <h4 mt-1>ZRX</h4>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="blog" data-nav-color="red">
      <div class="my-auto">
        <div class="row pl-xl-5">
          <h1 class="mb-5" id="blog">
            <%= data.i18n.en.sections.blog.title %>
          </h1>
        </div>
        <div class="row row pl-xl-5">
            <% page_articles.sort_by{|a| a.date}.reverse.each_with_index do |article, i| %>
              <% if (i < 4) %>
                <article class="col-sm-12 col-md-6">
                    <div class="main-blog-post">
                      <header>
                        <h2 class="post-title">
                          <span id="title-post"><%= link_to article.title, article %></span>
                        </h2>
                        <span class="main-post-category">
                          <%= article.data.category %> |
                        </span>
                        <span class="post-date">
                          <%= article.date.strftime('%b %e, %Y') %>
                        </span>
                      </header>
                      <div class="post-body"><%= article.summary(140, '...') %></div>
                    </div>
                </article>
              <% end %>
            <% end %>
          </article>
        </div>


        <div class="d-flex pl-xl-5 justify-content-center justify-content-lg-start">
          <div class="btn-blog-block">
            <a href="/blog" class="btn btn-primary btn-main-blog btn-blue">MORE POSTS</a>
          </div>
        </div>
      </div>
    </section>


    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="technology" data-nav-color="blue">
      <div class="my-auto">
        <div class="row pl-xl-5">
          <h1 class="mb-5" id="team-item">
            <%= data.i18n.en.sections.technology.title %>
          </h1>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="subheading mb-3 " id="team-item">
              <h2><%= data.i18n.en.sections.technology.requirements.title %></h2>
            </div>
            <ul class="fa-ul mb-3" id="team-item">
              <% data.i18n.en.sections.technology.requirements.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-4 pl-5">
            <div class="subheading mb-3 ml-3" id="team-item">
              <h2><%= data.i18n.en.sections.technology.coding.title %></h2>
            </div>
            <ul class="fa-ul mb-3 ml-5" id="team-item">
              <% data.i18n.en.sections.technology.coding.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-4">
            <div class="subheading mb-3" id="team-item">
              <h2><%= data.i18n.en.sections.technology.workflow.title %></h2>
            </div>
            <ul class="fa-ul mb-3" id="team-item">
              <% data.i18n.en.sections.technology.workflow.list.each do |item| %>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  <%= item %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="team" data-nav-color="red">
      <div class="my-auto">
        <div class="row pl-xl-5">
          <h1 class="mb-5">
            <%= data.i18n.en.sections.team.title %>
          </h1>
        </div>
        <div class="row mb-4 pl-xl-5">
          <h2>OpenWare Team</h2>
        </div>
          <div class="row pl-xl-5 teammates text-center text-lg-left" id="gravatar"></div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column section-scroll" id="followus" data-nav-color="yellow">
      <div class="my-auto">
        <div class="row pl-xl-5">



          <h1 class="mb-5" id="follow">
            <%= data.i18n.en.sections.contact.title %>
          </h1>



          <p class="mb-5">
            <%= data.i18n.en.sections.contact.text1 %>
          </p>


          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup" class="mb-5">
            <form action="https://rubykube.us19.list-manage.com/subscribe/post?u=0e5a930a2bb246b57f21cba2e&amp;id=55fb9c5f1d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <p>Subscribe to our newsletter to get informed on any update</p>
                <div class="input-group mb-3">
                  <input type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="E-mail" class="required email form-control">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_0e5a930a2bb246b57f21cba2e_55fb9c5f1d" tabindex="-1" value="">
                  </div>
                  <div class="input-group-append">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary button button-addon2">
                  </div>

                </div>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            </div>
          </form>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
          <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        </div>
        <!--End mc_embed_signup-->

        <div class="pl-xl-5">
          <h2 class="mb-5 ">
            Communications
          </h2>
          <p class="mb-5">
            <%= data.i18n.en.sections.contact.text2 %>
          </p>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-github fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
             <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.github %>
             </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="https://github.com/rubykube" target="_blank" class="btn btn-dark btn-block align-self-center">GitHub organisation</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-telegram fa-6x telegram align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
             <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.telegram %>
             </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="https://telegram.im/@Peatio" target="_blank" class="btn btn-primary btn-blue btn-block align-self-center">Telegram channel</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <img src="images/logo.svg" draggable="false" class="align-self-center" alt="Rubykube" width=95>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.Rubykube %>
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://discuss.rubykube.io" target="_blank" class="btn btn-secondary btn-block align-self-center">Community Support forum</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-reddit reddit fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.reddit %>
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="http://reddit.com/r/rubykube/" target="_blank" class="btn btn-primary btn-block align-self-center ">Reddit forum</a>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12 col-md-2 pl-0 d-flex justify-content-center">
            <i class="fab fa-youtube youtube fa-6x align-self-center"></i>
          </div>
          <div class="col-sm-12 col-md-7 d-flex">
              <p class="align-self-center mt-3">
              <%= data.i18n.en.sections.contact.youtube %>
              </p>
          </div>
          <div class="col-sm-12 col-md-3 d-flex px-0">
              <a href="https://www.youtube.com/c/rubykube" target="_blank" class="btn btn-primary btn-block align-self-center">YouTube channel</a>
          </div>
        </div>

      </div>
    </section>

    <a href="#" class="scrollup">
      <img draggable="false" src="images/scrollup.png">
    </a>
  </div>
</div>
